In [123]:
import pandas as pd 
import os
import ast
import numpy as np

In [92]:
df = pd.read_csv('keywords.csv')

In [4]:
df

           id                                           keywords
0         862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1        8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2       15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3       31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4       11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...
...       ...                                                ...
46414  439050             [{'id': 10703, 'name': 'tragic love'}]
46415  111109  [{'id': 2679, 'name': 'artist'}, {'id': 14531,...
46416   67758                                                 []
46417  227506                                                 []
46418  461257                                                 []

[46419 rows x 2 columns]

In [77]:
df2 = pd.read_csv('credits.csv')

In [78]:
df2 = df2.set_index('id')

In [4]:
df2.head(1)

                                                cast  \
0  [{'cast_id': 14, 'character': 'Woody (voice)',...

                                                crew   id
0  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...  862

In [79]:
import ast
import numpy as np
def parse_cast(cast_string):
    # get a python data structure
    data = ast.literal_eval(cast_string)
    # sort by the "order" from the dataset
    data = sorted(data, key=lambda d: d['order'])
    top3 = [cast['name'] for cast in data[:3]]
    
    # add nulls where there's less than 3 cast members present
    if len(top3) < 3:
        top3 = top3 + [np.nan] * (3 - len(top3))

    return pd.Series(top3 + [len(data)], index=['cast_actor_1', 'cast_actor_2', 'cast_actor_3', 'total_n_cast'])

In [80]:
t = df2['cast'].apply(parse_cast)
t

            cast_actor_1       cast_actor_2    cast_actor_3  total_n_cast
id
862            Tom Hanks          Tim Allen     Don Rickles          13.0
8844      Robin Williams      Jonathan Hyde   Kirsten Dunst          26.0
15602     Walter Matthau        Jack Lemmon     Ann-Margret           7.0
31357    Whitney Houston     Angela Bassett  Loretta Devine          10.0
11862       Steve Martin       Diane Keaton    Martin Short          12.0
...                  ...                ...             ...           ...
439050      Leila Hatami     Kourosh Tahami     Elham Korda           3.0
111109      Angel Aquino        Perry Dizon   Hazel Orencio          11.0
67758      Erika Eleniak       Adam Baldwin   Julie du Page          15.0
227506  Iwan Mosschuchin  Nathalie Lissenko    Pavel Pavlov           5.0
461257               NaN                NaN             NaN           0.0

[45476 rows x 4 columns]

In [81]:
df6= df2.merge(t,on='id')

In [83]:
#df6

In [84]:
df2 = df6.copy()

In [33]:
#s = df2['crew'].apply(parse_crew)

In [11]:
#df.a_column_with_a_dictionary.apply(lambda d: d['some_key'])
#import ast
#ast.literal_eval(df2['cast'])

In [34]:
df3 = pd.read_csv('links.csv')

In [72]:
df3 # this wont be useful as the imdbid doesn't match the dataset we were working with recently.

       movieId   imdbId    tmdbId
0            1   114709     862.0
1            2   113497    8844.0
2            3   113228   15602.0
3            4   114885   31357.0
4            5   113041   11862.0
...        ...      ...       ...
45838   176269  6209470  439050.0
45839   176271  2028550  111109.0
45840   176273   303758   67758.0
45841   176275     8536  227506.0
45842   176279  6980792  461257.0

[45843 rows x 3 columns]

In [85]:
df4 = pd.read_csv('movies_metadata.csv')

/usr/local/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [24]:
#df4.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [86]:
df5 = pd.read_csv('ratings.csv')

In [87]:
print(f' df shape: {df.shape} | column names: {df.columns}')
print('')
print(f' df2 shape: {df2.shape} | column names: {df2.columns}')
print('')
print(f' df3 shape: {df3.shape} | column names: {df3.columns}')
print('')
print(f' df4 shape: {df4.shape} | column names: {df4.columns}')
print('')
print(f' df5 shape: {df5.shape} | column names: {df5.columns}')

 df shape: (46419, 2) | column names: Index(['id', 'keywords'], dtype='object')

 df2 shape: (45566, 6) | column names: Index(['cast', 'crew', 'cast_actor_1', 'cast_actor_2', 'cast_actor_3',
       'total_n_cast'],
      dtype='object')

 df3 shape: (45843, 3) | column names: Index(['movieId', 'imdbId', 'tmdbId'], dtype='object')

 df4 shape: (45466, 24) | column names: Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

 df5 shape: (26024289, 4) | column names: Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [89]:
df.id.is_unique

False

In [90]:
df4.id.is_unique

False

In [95]:
df['keywords'] = df['keywords'].apply(lambda x: ' '.join([i['name'] for i in eval(x)]))

In [9]:
df

           id                                           keywords
0         862  jealousy toy boy friendship friends rivalry bo...
1        8844  board game disappearance based on children's b...
2       15602   fishing best friend duringcreditsstinger old men
3       31357  based on novel interracial relationship single...
4       11862  baby midlife crisis confidence aging daughter ...
...       ...                                                ...
46414  439050                                        tragic love
46415  111109                                  artist play pinoy
46416   67758
46417  227506
46418  461257

[46419 rows x 2 columns]

In [93]:
df2['cast'] = df2['cast'].apply(lambda x: ' '.join([i['name'].replace(' ', '') for i in eval(x)]))

In [94]:
df2['crew'] = df2['crew'].apply(lambda x: ' '.join([i['name'].replace(' ', '') for i in eval(x)]))

In [96]:
#df2 # cast and crew extracted.

,cast,crew,cast_actor_1,cast_actor_2,cast_actor_3,total_n_cast
id,,,,,,
862,TomHanks TimAllen DonRickles JimVarney WallaceShawn JohnRatzenberger AnniePotts JohnMorris ErikvonDetten LaurieMetcalf R.LeeErmey SarahFreeman PennJillette,JohnLasseter JossWhedon AndrewStanton JoelCohen AlecSokolow BonnieArnold EdCatmull RalphGuggenheim SteveJobs LeeUnkrich RalphEggleston RobertGordon MaryHelenLeasman KimBlanchette MarilynMcCoppen RandyNewman DaleE.Grahn RobinCooper JohnLasseter PeteDocter JoeRanft PatsyBouge NormDeCarlo AshBrannon RandyNewman RomanFigun DonDavis JamesFlamberg MaryBethSmith RickMackay SusanBradley WilliamReeves RandyNewman AndrewStanton PeteDocter GaryRydstrom KarenRobertJackson ChrisMontan RichQuade MichaelBerenstein ColinBrady DaveyCrockettFeiten AngieGlocka RexGrignon TomK.Gurney JimmyHayward HalT.Hickel KarenKiser AnthonyB.LaMolinara GuionneLeroy BudLuckey LesMajor GlennMcQueen MarkOftedal JeffPidgeon JeffPratt SteveRabatich RogerRose SteveSegal DougSheppeck AlanSperling DougSweetland DavidTart KenWillard ThomasPorter MarkThomasHenne OrenJacob DarwynPeachey MitchPrater BrianM.Rosen SharonCalahan GalynSusman WilliamCone ShelleyDanielsLekven BobPauley BudLuckey AndrewStanton WilliamCone SteveJohnson DanHaskett TomHolloway JeanGillmore Desir√©eMourad KellyO'Connell SonokoKonishi AnnM.Rockwell JulieM.McDonald RobinLee TomFreeman AdaCochavi DanaMulligan DeirdreMorrison LoriLombardo EllenDevine LaurenBethStrogoff GaryRydstrom GarySummers TimHolland PatJackson TomMyers J.R.Grubbs SusanSanford SusanPopovic DanEngstrom RuthLambert MickieMcGowan,Tom Hanks,Tim Allen,Don Rickles,13.0
8844,RobinWilliams JonathanHyde KirstenDunst BradleyPierce BonnieHunt BebeNeuwirth DavidAlanGrier PatriciaClarkson AdamHann-Byrd LauraBellBundy JamesHandy GillianBarber BrandonObray CyrusThiedeke GaryJosephThorup LeonardZola LloydBerry MalcolmStewart AnnabelKershaw DarrylHenriques RobynDriscoll PeterBryant SarahGilson FloricaVlad JuneLion BrendaLockmuller,LarryJ.Franco JonathanHensleigh JamesHorner JoeJohnston RobertDalva NancyFoy KyleBalda JamesD.Bissell ScottKroopf TedField RobertW.Cort ThomasE.Ackerman ChrisvanAllsburg WilliamTeitler GregTaylor JimStrain,Robin Williams,Jonathan Hyde,Kirsten Dunst,26.0
15602,WalterMatthau JackLemmon Ann-Margret SophiaLoren DarylHannah BurgessMeredith KevinPollak,HowardDeutch MarkStevenJohnson MarkStevenJohnson JackKeller,Walter Matthau,Jack Lemmon,Ann-Margret,7.0
31357,WhitneyHouston AngelaBassett LorettaDevine LelaRochon GregoryHines DennisHaysbert MichaelBeach MykeltiWilliamson LamontJohnson WesleySnipes,ForestWhitaker RonaldBass RonaldBass EzraSwerdlow DeborahSchindler TerryMcMillan TerryMcMillan TerryMcMillan KennethEdmonds CaronK,Whitney Houston,Angela Bassett,Loretta Devine,10.0
11862,SteveMartin DianeKeaton MartinShort KimberlyWilliams-Paisley GeorgeNewbern KieranCulkin BDWong PeterMichaelGoetz KateMcGregor-Stewart JaneAdams EugeneLevy LoriAlan,AlanSilvestri ElliotDavis NancyMeyers NancyMeyers AlbertHackett CharlesShyer AdamBernardi,Steve Martin,Diane Keaton,Martin Short,12.0
...,...,...,...,...,...,...
439050,LeilaHatami KouroshTahami ElhamKorda,HamidNematollah HamidNematollah FarshadMohammadi MasoumehBayat MehdiSaadi BabakArdalan AzadehGhavam SahandTorabi HomayounShajarian,Leila Hatami,Kourosh Tahami,Elham Korda,3.0
111109,AngelAquino PerryDizon HazelOrencio JoelTorre BartGuingona SolimanCruz Roeder AngeliBayani DantePerez BettyUy-Regala Modesta,LavDiaz LavDiaz DantePerez LavDiaz LavDiaz LavDiaz,Angel Aquino,Perry Dizon,Hazel Orencio,11.0
67758,ErikaEleniak AdamBaldwin JulieduPage JamesRemar DamianChapa LouisMandylor TomWright JeremyLelliott JamesQuattrochi JasonWidener JoeSabatino KikoEllsworth DonSwayze PeterDobson DarrellDubovsky,MarkL.Lester C.CourtneyJoyner JeffreyGoldenberg RichardMcHugh Jo√£oFernandes,Erika Eleniak,Adam Baldwin,Julie du Page,15.0
227506,IwanMosschuchin NathalieLissenko PavelPavlov AleksandrChabrov VeraOrlova,YakovProtazanov JosephN.Ermolieff,Iwan Mosschuchin,Nathalie Lissenko,Pavel Pavlov,5.0
461257,,DaisyAsquith,NaN,NaN,NaN,0.0

In [ ]:
# to extract a value from a column with dictionary
#df.a_column_with_a_dictionary.apply(lambda d: d['some_key'])

In [87]:
df4.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [45]:
df4 = df4.dropna(subset=['title'])
df4['popularity'] = pd.to_numeric(df4['popularity'])
df4['budget'] = pd.to_numeric(df4['budget'])
#df4['id'] = pd.to_numeric(df4['id'])

In [13]:
df.shape

(46419, 2)

In [46]:
df4['production_companies'] = df4['production_companies'].apply(lambda x: ' '.join([i['name'].replace(' ', '') for i in eval(x)]))

In [47]:
df4['production_countries'] = df4['production_countries'].apply(lambda x: ' '.join([i['name'].replace(' ', '') for i in eval(x)]))

In [85]:
df4.production_companies.value_counts()

                                                                                                                                   11875
Metro-Goldwyn-Mayer(MGM)                                                                                                             742
WarnerBros.                                                                                                                          540
ParamountPictures                                                                                                                    505
TwentiethCenturyFoxFilmCorporation                                                                                                   439
                                                                                                                                   ...
DimensionFilms SpectacleEntertainmentGroup TrancasInternationalFilms                                                                   1
HBOFilms MovingPictures                                                                                                                1
BIMDistribuzione Canal+ AltaProducci√≥n CentreNationaldelaCin√©matographie(CNC) R√©zoProductions CompagnieEricRohmer(CER) Cin√©mage        1
Galat√©eFilms NovoArturoFilms ConstantinFilmProduktion Path√© France2Cin√©ma France3Cinema LoglineStudios BlueScreenProductions           1
Yermoliev                                                                                                                              1
Name: production_companies, Length: 22658, dtype: int64

In [89]:
df4.production_countries # I will worry about cleaning these later. Space between instances of capitalization would work
# if not for 'of'. U.S. can be handled separately

0        UnitedStatesofAmerica
1        UnitedStatesofAmerica
2        UnitedStatesofAmerica
3        UnitedStatesofAmerica
4        UnitedStatesofAmerica
                 ...
45461                     Iran
45462              Philippines
45463    UnitedStatesofAmerica
45464                   Russia
45465            UnitedKingdom
Name: production_countries, Length: 45460, dtype: object

In [67]:
df4.genres

0         Animation Comedy Family
1        Adventure Fantasy Family
2                  Romance Comedy
3            Comedy Drama Romance
4                          Comedy
                   ...
45461                Drama Family
45462                       Drama
45463       Action Drama Thriller
45464
45465
Name: genres, Length: 45460, dtype: object

In [ ]:
# good enough for now, attempting to merge
# disregarding links.csv

# df = keywords.csv
# df2 = credits.csv
# df4 = moviemetadata.csv
# df5 = ratings.csv

In [76]:
df5.head(2)

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435

In [ ]:
df4.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}",30000000,Animation Comedy Family,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences.",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,Adventure Fantasy Family,NaN,8844,tt0113497,en,Jumanji,"When siblings Judy and Peter discover an enchanted board game that opens the door to a magical world, they unwittingly invite Alan -- an adult who's been trapped inside the game for 26 years -- into their living room. Alan's only hope for freedom is to finish the game, which proves risky as all three find themselves running from giant rhinoceroses, evil monkeys and other terrifying creatures.",...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'fr', 'name': 'Fran√ßais'}]",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0

In [81]:
df4.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [172]:
df4.spoken_languages

0                 [{'iso_639_1': 'en', 'name': 'English'}]
1        [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
2                 [{'iso_639_1': 'en', 'name': 'English'}]
3                 [{'iso_639_1': 'en', 'name': 'English'}]
4                 [{'iso_639_1': 'en', 'name': 'English'}]
                               ...
45461               [{'iso_639_1': 'fa', 'name': 'ŸÅÿßÿ±ÿ≥€å'}]
45462                    [{'iso_639_1': 'tl', 'name': ''}]
45463             [{'iso_639_1': 'en', 'name': 'English'}]
45464                                                   []
45465             [{'iso_639_1': 'en', 'name': 'English'}]
Name: spoken_languages, Length: 45460, dtype: object

In [93]:
df4.vote_average

0        7.7
1        6.9
2        6.5
3        6.1
4        5.7
        ...
45461    4.0
45462    9.0
45463    3.8
45464    0.0
45465    0.0
Name: vote_average, Length: 45460, dtype: float64

In [16]:
# data = pd.merge(df5, df4[['id', 'title', 'genres', 'budget', 'overview', 'popularity', 'production_companies', 'production_countries',
#                           'revenue', 'runtime', 'vote_average', 'vote_count']], left_on='movieId', right_on='id')

In [19]:
df5.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [20]:
df4.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [17]:
data.shape

(11437637, 16)

In [104]:
data.columns

Index(['userId', 'movieId', 'rating', 'timestamp', 'id', 'title', 'genres',
       'budget', 'overview', 'popularity', 'production_companies',
       'production_countries', 'revenue', 'runtime', 'vote_average',
       'vote_count'],
      dtype='object')

In [98]:
data.userId.value_counts()

45811     3594
8659      3024
179792    2578
107720    2103
270123    2040
          ...
139422       1
146542       1
147825       1
22475        1
217250       1
Name: userId, Length: 265917, dtype: int64

In [100]:
data.id.value_counts()

318       91082
296       87901
593       84078
260       77045
480       74355
          ...
112705        1
32930         1
142308        1
173557        1
136928        1
Name: id, Length: 7565, dtype: int64

In [73]:
#data[data['id'] == 318].sample(3)

Ah, so similar to the last dataset, the userId (whereas last time the repeated instances of actors and actresses et cetera) is resulting in clones of the title. 
This is problematic. I do not see the value of the user ratings in particular versus the average; for right now, I will disregard the content.

In [21]:
df2.columns

Index(['cast', 'crew', 'id'], dtype='object')

In [22]:
df4.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [51]:
df4.dtypes

adult                     object
belongs_to_collection     object
budget                    object
genres                    object
homepage                  object
id                        object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity                object
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                     object
vote_average             float64
vote_count               float64
dtype: object

In [52]:
df2.dtypes

cast    object
crew    object
id       int64
dtype: object

In [101]:
df4['id'] = df4['id'].astype(int)

In [98]:
df4 = df4[df4['id'] != '1997-08-20']

In [99]:
df4 = df4[df4['id'] != '2012-09-29']

In [100]:
df4 = df4[df4['id'] != '2014-01-01']

In [107]:
df_new= df4.merge(df2,on='id')

In [108]:
df_new.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'cast', 'crew', 'cast_actor_1',
       'cast_actor_2', 'cast_actor_3', 'total_n_cast'],
      dtype='object')

In [109]:
df_new.shape

(45696, 30)

In [119]:
df_new.id.value_counts()

141971    27
298721     8
5511       8
15028      8
13209      8
          ..
55135      1
15877      1
72272      1
1549       1
461257     1
Name: id, Length: 45432, dtype: int64

           id                                           keywords
0         862  jealousy toy boy friendship friends rivalry bo...
1        8844  board game disappearance based on children's b...
2       15602   fishing best friend duringcreditsstinger old men
3       31357  based on novel interracial relationship single...
4       11862  baby midlife crisis confidence aging daughter ...
...       ...                                                ...
46414  439050                                        tragic love
46415  111109                                  artist play pinoy
46416   67758
46417  227506
46418  461257

[46419 rows x 2 columns]

In [ ]:
df.merge()

In [118]:
df_new2.id.value_counts()

141971    81
159849    24
18440     16
84198     16
25541     16
          ..
55135      1
15877      1
72272      1
1549       1
461257     1
Name: id, Length: 45432, dtype: int64

In [111]:
df_new2.shape

(46938, 31)

In [112]:
df_new2

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,video,vote_average,vote_count,cast,crew,cast_actor_1,cast_actor_2,cast_actor_3,total_n_cast,keywords
0,False,"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences.",...,False,7.7,5415.0,TomHanks TimAllen DonRickles JimVarney WallaceShawn JohnRatzenberger AnniePotts JohnMorris ErikvonDetten LaurieMetcalf R.LeeErmey SarahFreeman PennJillette,JohnLasseter JossWhedon AndrewStanton JoelCohen AlecSokolow BonnieArnold EdCatmull RalphGuggenheim SteveJobs LeeUnkrich RalphEggleston RobertGordon MaryHelenLeasman KimBlanchette MarilynMcCoppen RandyNewman DaleE.Grahn RobinCooper JohnLasseter PeteDocter JoeRanft PatsyBouge NormDeCarlo AshBrannon RandyNewman RomanFigun DonDavis JamesFlamberg MaryBethSmith RickMackay SusanBradley WilliamReeves RandyNewman AndrewStanton PeteDocter GaryRydstrom KarenRobertJackson ChrisMontan RichQuade MichaelBerenstein ColinBrady DaveyCrockettFeiten AngieGlocka RexGrignon TomK.Gurney JimmyHayward HalT.Hickel KarenKiser AnthonyB.LaMolinara GuionneLeroy BudLuckey LesMajor GlennMcQueen MarkOftedal JeffPidgeon JeffPratt SteveRabatich RogerRose SteveSegal DougSheppeck AlanSperling DougSweetland DavidTart KenWillard ThomasPorter MarkThomasHenne OrenJacob DarwynPeachey MitchPrater BrianM.Rosen SharonCalahan GalynSusman WilliamCone ShelleyDanielsLekven BobPauley BudLuckey AndrewStanton WilliamCone SteveJohnson DanHaskett TomHolloway JeanGillmore Desir√©eMourad KellyO'Connell SonokoKonishi AnnM.Rockwell JulieM.McDonald RobinLee TomFreeman AdaCochavi DanaMulligan DeirdreMorrison LoriLombardo EllenDevine LaurenBethStrogoff GaryRydstrom GarySummers TimHolland PatJackson TomMyers J.R.Grubbs SusanSanford SusanPopovic DanEngstrom RuthLambert MickieMcGowan,Tom Hanks,Tim Allen,Don Rickles,13.0,jealousy toy boy friendship friends rivalry boy next door new toy toy comes to life
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 10751, 'name': 'Family'}]",NaN,8844,tt0113497,en,Jumanji,"When siblings Judy and Peter discover an enchanted board game that opens the door to a magical world, they unwittingly invite Alan -- an adult who's been trapped inside the game for 26 years -- into their living room. Alan's only hope for freedom is to finish the game, which proves risky as all three find themselves running from giant rhinoceroses, evil monkeys and other terrifying creatures.",...,False,6.9,2413.0,RobinWilliams JonathanHyde KirstenDunst BradleyPierce BonnieHunt BebeNeuwirth DavidAlanGrier PatriciaClarkson AdamHann-Byrd LauraBellBundy JamesHandy GillianBarber BrandonObray CyrusThiedeke GaryJosephThorup LeonardZola LloydBerry MalcolmStewart AnnabelKershaw DarrylHenriques RobynDriscoll PeterBryant SarahGilson FloricaVlad JuneLion BrendaLockmuller,LarryJ.Franco JonathanHensleigh JamesHorner JoeJohnston RobertDalva NancyFoy KyleBalda JamesD.Bissell ScottKroopf TedField RobertW.Cort ThomasE.Ackerman ChrisvanAllsburg WilliamTeitler GregTaylor JimStrain,Robin Williams,Jonathan Hyde,Kirsten Dunst,26.0,board game disappearance based on children's book new home recluse giant insect
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collection', 'poster_path': '/nLvUdqgPgm3F85NMCii9gVFUcet.jpg', 'backdrop_path': '/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg'}",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]",NaN,15602,tt0113228,en,Grumpier Old Men,"A family wedding reignites the ancient feud between next-door neighbors and fishing buddies John and Max. Meanwhile, a sultry Italian divorc√©e opens a restaurant at the local bait shop, alarming the locals who worry she'll scare the fish away. But she's less interested in seafood than she is in cooking up a hot time with Max.",...,False,6.5,92.0,WalterMatthau JackLemmon Ann-Margret SophiaLoren DarylHannah BurgessMeredith KevinPollak,HowardDeutch MarkStevenJohnson MarkStevenJohnson JackKeller,Walter Matthau,Jack Lemmon,Ann-Margret,7.0,fishing best friend duringcreditsstinger old men
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}, {'id': 10749, 'name': 'Romance'}]",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the women are holding their breath, waiting for the elusive ""good man"" to break a string of less-than-stellar lovers. Friends and confidants Vannah, Bernie, Glo and Robin talk it all out, determined to find a better way to breathe.",...,False,6.1,34.0,WhitneyHouston AngelaBassett LorettaDevine LelaRochon GregoryHines DennisHaysbert MichaelBeach MykeltiWilliamson LamontJohnson WesleySnipes,ForestWhitaker RonaldBass RonaldBass EzraSwerdlow DeborahSchindler TerryMcMillan TerryMcMillan TerryMcMillan KennethEdmonds CaronK,Whitney Houston,Angela Bassett,Loretta Devine,10.0,based on novel interracial relationship single mother divorce chick flick
4,False,"{'id': 96871, 'name': 'Father of the Bride Collection', 'poster_path': '/nts4iOmNnq7GNicycMJ9pSAn204.jpg', 'backdrop_path': '/7qwE57OVZmMJChBpLEbJEmzUydk.jpg'}",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,"Just when George Banks has recovered from his daughter's wedding, he receives the news that she's pregnant ... and that George's wife, Nina, is expecting too. He was planning on selling their home, but that's a plan that -- like George -- will have to change with the arrival of both a grandchild and a kid of his own.",...,False,5.7,173.0,SteveMartin DianeKeaton MartinShort KimberlyWilliams-Paisley GeorgeNewbern KieranCulkin BDWong PeterMichaelGoetz KateMcGregor-Stewart JaneAdams EugeneLevy LoriAlan,AlanSilvestri ElliotDavis NancyMeyers NancyMeyers AlbertHackett CharlesShyer AdamBernardi,Steve Martin,Diane Keaton,Martin Short,12.0,baby midlife crisis confidence aging daughter mother daughter relationship pregnancy contraception gynecologist
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46933,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'name': 'Family'}]",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,ÿ±⁄Ø ÿÆŸàÿßÿ®,Rising and falling between a man and woman.,...,False,4.0,1.0,LeilaHatami KouroshTahami ElhamKorda,HamidNematollah HamidNematollah FarshadMohammadi MasoumehBayat MehdiSaadi BabakArdalan AzadehGhavam SahandTorabi HomayounShajarian,Leila Hatami,Kourosh Tahami,Elham Korda,3.0,tragic love
46934,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a storyline about a cult plays in his head.,...,False,9.0,3.0,AngelAquino PerryDizon HazelOrencio JoelTorre BartGuingona SolimanCruz Roeder AngeliBayani DantePerez BettyUy-Regala Modesta,LavDiaz LavDiaz DantePerez LavDiaz LavDiaz LavDiaz,Angel Aquino,Perry Dizon,Hazel Orencio,11.0,artist play pinoy
46935,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'name': 'Drama'}, {'id': 53, 'name': 'Thriller'}]",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professional assassin ends up with a suitcase full of a million dollars belonging to a mob boss ...",...,False,3.8,6.0,ErikaEleniak AdamBaldwin JulieduPage JamesRemar DamianChapa LouisMandylor TomWright JeremyLelliott JamesQuattrochi JasonWidener JoeSabatino KikoEllsworth DonSwayze PeterDobson DarrellDubovsky,MarkL.Lester C.CourtneyJoyner JeffreyGoldenberg RichardMcHugh Jo√£oFernandes,Erika Eleniak,Adam Baldwin,Julie du Page,15.0,
46936,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minister and the other one a hunchback painter of the chapel who lives with his wife. One dreadful and stormy night, a stranger knocks at the door asking for shelter. The stranger talks about all the good things of the earthly life the minister is missing because of his puritanical faith. The minister comes to accept the stranger's viewpoint but it is others who will pay the consequences because the minister will discover the human pleasures thanks to, ehem, his sister- in -law‚Ä¶ The tormented minister and his cuckolded brother will die in a strange accident in the chapel and later an infant will be born from the minister's adulterous relationship.",...,False,0.0,0.0,IwanMosschuchin NathalieLissenko PavelPavlov AleksandrChabrov VeraOrlova,YakovProtazanov JosephN.Ermolieff,Iwan Mosschuchin,Nathalie Lissenko,Pavel Pavlov,5.0,
46937,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,"50 years after decriminalisation of homosexuality in the UK, director Daisy Asquith mines the jewels of the BFI archive to take us into the relationships, desires, fears and expressions of gay men and women in the 20th century.",...,False,0.0,0.0,,DaisyAsquith,NaN,NaN,NaN,0.0,

In [23]:
#data = pd.merge(df2, df4[['id', 'title', 'genres', 'budget', 'overview', 'popularity', 'production_companies', 'production_countries',
#                          'revenue', 'runtime', 'vote_average', 'vote_count']], left_on='id', right_on='id')

In [31]:
#data2 = pd.merge(df2, df4[['id', 'title', 'genres', 'budget', 'overview', 'popularity', 'production_companies', 'production_countries',
#                          'revenue', 'runtime', 'vote_average', 'vote_count']], how = 'left', validate = 'one_to_many' )

In [24]:
data.shape

(45535, 14)

In [26]:
data2.shape

(45538, 14)

In [74]:
data3.shape

(45538, 26)

In [106]:
data3.isna().sum()

adult                        0
belongs_to_collection    41178
budget                       0
genres                       0
homepage                 37878
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   3
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      3
runtime                    260
spoken_languages             3
status                      84
tagline                  25197
title                        3
video                        3
vote_average                 3
vote_count                   3
cast                         0
crew                         0
cast_actor_1              2430
cast_actor_2              3764
cast_actor_3              4680
total_n_cast                 0
dtype: int64

In [43]:
data3.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'cast', 'crew'],
      dtype='object')

In [76]:
#data2

In [77]:
#data.head(1)

In [78]:
data3.id.is_unique

False

In [81]:
df2.id.is_unique

False

In [82]:
df4.id.is_unique

False

In [79]:
data3.id.value_counts()
# at least now the number is substantially lower

141971    9
298721    4
5511      4
15028     4
13209     4
         ..
55135     1
15877     1
72272     1
1549      1
461257    1
Name: id, Length: 45432, dtype: int64

In [83]:
#data3[data3['id'] == 141971]

In [ ]:
# this may be some error thrown by the revenue and budget being 0 as well as the obscurity/low rating .

In [84]:
data4 = data3.copy()

In [150]:
cnt = data.id.value_counts()
cnt
v = cnt[cnt == 1].index.values
v

test = data.query("id in @v")
test.id.is_unique
# nailed it.

In [56]:
cnt = data3.id.value_counts()
cnt
v = cnt[cnt == 1].index.values
v

test = data3.query("id in @v")
test.id.is_unique

True

In [89]:
test.shape

(45389, 26)

In [92]:
test.id.value_counts()

862       1
85581     1
141884    1
52721     1
58333     1
         ..
37931     1
27004     1
10870     1
54117     1
461257    1
Name: id, Length: 45389, dtype: int64

In [68]:
data3.shape

(45535, 26)

In [88]:
data3.id.is_unique

False

In [65]:
test.id.is_unique

True

In [66]:
data = test.copy()

In [67]:
data.id.is_unique

True

In [153]:
data.columns

Index(['cast', 'crew', 'id', 'title', 'genres', 'budget', 'overview',
       'popularity', 'production_companies', 'production_countries', 'revenue',
       'runtime', 'vote_average', 'vote_count'],
      dtype='object')

In [154]:
data.sample(2)

,cast,crew,id,title,genres,budget,overview,popularity,production_companies,production_countries,revenue,runtime,vote_average,vote_count
20777,JimCarrey AlanThicke RichardGautier ZiggyLorenc RodHebron JeanLaplac BruceCarr,DamianLee DavidMitchell,19809,Copper Mountain,Comedy Romance,0,"Two friends travel to a ski resort, with one looking to hit the slopes, while the other spends time trying to pick up women.",2.089464,Rose&RubyProductions,UnitedStatesofAmerica,0.0,60.0,2.9,8.0
9828,CarolLynley JeffChandler EleanorParker MaryAstor RobertSterling LucianaPaluzzi BrettHalsey GunnarHellstr√∂m TuesdayWeld,FranzWaxman JackMartinSmith WalterM.Scott Donfeld Jos√©Ferrer FredM.MacLean DavidBretherton JerryWald HansPeters CurtisHarrington CharlesG.Clarke RonaldAlexander GraceMetalious,111017,Return to Peyton Place,Drama Romance,0,More hubub in the little town full of secrets when a visiting author trys to pry loose some juicy scandals!,0.611692,JerryWaldProductions,UnitedStatesofAmerica,0.0,123.0,7.2,5.0

In [157]:
df.head(1)

    id                                           keywords
0  862  jealousy toy boy friendship friends rivalry bo...

In [69]:
# very simple merge
data3 = data3.merge(df, on='id')

In [60]:
# still stumped on what to do with df5
df5.userId.value_counts()

45811     18276
8659       9279
270123     7638
179792     7515
228291     7410
          ...
30155         1
9641          1
164717        1
243426        1
234625        1
Name: userId, Length: 270896, dtype: int64

In [61]:
data.title.value_counts()

Cinderella                         13
Alice in Wonderland                 9
Hamlet                              9
Beauty and the Beast                8
The Forest                          8
                                   ..
I Killed My Mother                  1
Life During Wartime                 1
Lion's Den                          1
That Most Important Thing: Love     1
Queerama                            1
Name: title, Length: 42241, dtype: int64

In [72]:
data3.title.value_counts()

Blackout                            31
Cinderella                          13
The Promise                         12
King Lear                           12
Why We Fight: Divide and Conquer    12
                                    ..
Pope Joan                            1
Cluny Brown                          1
Babies                               1
The Green Room                       1
Queerama                             1
Name: title, Length: 42276, dtype: int64

In [166]:
data[data['title'] == 'Cinderella']

,cast,crew,id,title,genres,budget,overview,popularity,production_companies,production_countries,revenue,runtime,vote_average,vote_count,keywords
990,IleneWoods EleanorAudley LucilleBliss VernaFelton HeleneStanley JamesMacDonald LuisvanRooten DonBarclay ClaireDuBrey RhodaWilliams MarionDarlington,ClydeGeronimi WilfredJackson HamiltonLuske CharlesPerrault PaulJ.Smith OliverWallace DonaldHalliday WaltDisney BillPeed TedSears HomerBrightman KenAnderson ErdmanPenner WinstonHibler HarryReeves JoeRinaldi MerleCox McLarenStewart C.O.Slyfield HaroldJ.Steck RobertO.Cook AlTeeter MackDavid JerryLivingston AlHoffman JosephDubin TomCodrick LanceNolley DonGriffith KendallO'Connor HughHennesy CharlesPhilippi ThorPutnam BriceMack DickAnthony ThelmaWitmer ArtRiley RayHuffine EricLarson WardKimball MiltKahl OllieJohnston FrankThomas MarcDavis JohnLounsbery LesClark WolfgangReitherman NormanFerguson BenSharpsteen RalphHulett,11224,Cinderella,Family Fantasy Animation Romance,2900000,"Cinderella has faith her dreams of a better life will come true. With help from her loyal mice friends and a wave of her Fairy Godmother's wand, Cinderella's rags are magically turned into a glorious gown and off she goes to the Royal Ball. But when the clock strikes midnight, the spell is broken, leaving a single glass slipper... the only key to the ultimate fairy-tale ending!",14.436858,RKORadioPictures WaltDisneyProductions,UnitedStatesofAmerica,263591415.0,74.0,6.8,1760.0,based on novel cinderella loss of parents mouse ball fairy prince musical midnight princess love orphan family evil stepmother fairy godmother glass slipper
13056,BrandyNorwood WhitneyHouston WhoopiGoldberg BernadettePeters JasonAlexander,RobertIscove,42884,Cinderella,TV Movie Family Fantasy Music Romance,0,"Updated version of the classic Rodgers and Hammerstein musical of the classic fairy-tale, with an all-star, multi-racial cast.",2.102013,WaltDisneyTelevision CitadelEntertainment StorylineEntertainment BrownHouseProductions,UnitedStatesofAmerica,0.0,88.0,6.1,28.0,cinderella musical rodgers & hammerstei
23463,MaryPickford OwenMoore IsabelVernon GeorgiaWilson LucilleCarney W.N.Cone InezMarcel,CharlesPerrault JamesKirkwood,92349,Cinderella,Fantasy Drama,0,"Based on Charles Perrault's fairy tale: Cinderella is mistreated by her stepmother and stepsisters, but she is able to go to the Royal Ball with the help of the Fairy Godmother.",0.361288,,UnitedStatesofAmerica,0.0,52.0,5.4,7.0,
23474,TonyAil NathanAswell CheraBailey KathleenBarr GarryChalk LillianCarlson IanJamesCorlett,ToshiyukiHiruma CharlesPerrault GeorgeArthurBloom,105875,Cinderella,Animation Family Fantasy,0,"Cinderella, the beautiful and kind-hearted ragamuffin who lives with her greedy stepmother and two selfish stepsisters, charms a handsome prince when her fairy godmother sends her to the royal ball. She must leave the ball by midnight before all the magic is gone, but Cinderella has so much fun that she forgets all about the warning, and when she flees the castle she leaves behind one glass slipper. Cinderella, originally released directly to video in 1994, is a 48-minute animated film adapted from the classic fairy tale, ""Cinderella"" by Charles Perrault. The movie was produced by Jetlag Productions and was distributed to DVD in 2002 by GoodTimes Entertainment as part of their ""Collectible Classics"" line.",2.154873,GoodTimesEntertainment,Japan UnitedStatesofAmerica,0.0,48.0,6.0,2.0,
28329,VanessaHessler FlavioParenti NataliaW√∂rner Ruth-MariaKubitschek HaryPrinz FrankCrudele RosabellLaurentiSellers CarlottaNatoli GiuliaAnd√≤ IlariaSpada MassimoPoggio MariellaValentini WanjaSellers UrbanoBarberini,DavidYardley LucaBernabei MonicaSallustio ChristianDuguay TeresaRazzauti AgathaDominik LeaTafuri MaurizioMillenotti FabrizioLucci AndreaGuerra CarmeloAgate,261985,Cinderella,Family TV Movie,0,"Once upon a time in post-war Rome: 13-year old Aurora, a gifted pianist, is the daughter of Valerio, a brilliant conductor. After Aurora's mother died, Valerio hired Irene, a single mother of two girls, to run the household. To Aurora's regret he decides to marry Irene. One day, Aurora happens to meet the boys next door, Freddy and Sebastian, the sons of a wealthy Italo-Austrian family. Freddy is an easy-going chap, though sometimes a little bit arrogant. His brother Sebastian is kind and shy, with a great ability to listen to and understand people, which makes him win Aurora's heart.",0.987462,BetaFilm LuxVide ARD/DegetoFilmGmbH RaiFiction RaiTrade 13Productions,Italy,0.0,180.0,5.3,9.0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35726,JulieAndrews HowardLindsay HowardLindsay IlkaChase KayeBallard AliceGhostley EdieAdams JohnCypher DavidF.Perkins,AlfredoAntonini RalphNelson OscarHammersteinII RichardRodgers JonathanLucas RichardLewine WilliamEckart JeanEckart JeanEckart RobertRussellBennett,44459,Cinderella,Drama Romance,0,The first of three TV-versions of the classic fairy tale that featured a Rodgers and Hammerstein score and was performed in front of a live audience.,0.209552,,UnitedStatesofAmerica,0.0,77.0,5.9,5.0,
35729,KathleenTurner KatrinCartlidge DavidWarner JaneBirkin LucyPunch MarcellaPlunkett LesliePhillips SharonMaughan GideonTurner GrantIbbs,BeebanKidron TrevorEve AlekseiRodionov NickDear JazColeman SimonJohnson,289673,Cinderella,,0,"Cinderella (named Zezolla) and her family live mid 20th century, where fashion is practically everything. As her father is won over by a selfish woman named Claudette, Cinderella must keep her new step-mother from murdering the only family she has left. Add in an anti-social mermaid literally living in a cave, a bored prince with an ear for rock n' roll, and the glamour of the 1950's and one'll find that this story can't grow old",1.085134,,,0.0,90.0,5.6,5.0,woman director
35730,KathleenTurner KatrinCartlidge DavidWarner JaneBirkin LucyPunch MarcellaPlunkett LesliePhillips SharonMaughan GideonTurner GrantIbbs,BeebanKidron TrevorEve AlekseiRodionov NickDear JazColeman SimonJohnson,289673,Cinderella,,0,"Cinderella (named Zezolla) and her family live mid 20th century, where fashion is practically everything. As her father is won over by a selfish woman named Claudette, Cinderella must keep her new step-mother from murdering the only family she has left. Add in an anti-social mermaid literally living in a cave, a bored prince with an ear for rock n' roll, and the glamour of the 1950's and one'll find that this story can't grow old",1.085134,,,0.0,90.0,5.6,5.0,woman director
41953,GeorgesM√©li√®s Barral BleuetteBernon Carmely Jeanned'Alcy Depeyrou,GeorgesM√©li√®s CharlesPerrault,114108,Cinderella,Fantasy Horror Science Fiction Family,0,"A fairy godmother magically turns Cinderella's rags to a beautiful dress, and a pumpkin into a coach. Cinderella goes to the ball, where she meets the Prince - but will she remember to leave before the magic runs out? M√©li√®s based the art direction on engravings by Gustave Dor√©. First known example of a fairy-tale adapted to film, and the first film to use dissolves to go from one scene to another.",1.301063,Star-Film GeorgesM√©li√®s,France,0.0,5.0,5.5,19.0,fairy tale fairy godmother
46281,KristinaAsmus NikitaEfremov ArtyomTkachenko ElizavetaBoyarskaya NonnaGrishaeva YuriyStoyanov SergeyBurunov AleksandrTsekalo AnnaSherling AnnaArshava AnnaBagmet AleksandrBocharov MargaritaBychkova AleksandrKorchagin VsevolodMakarov AnnaMasalskaya AleksandrNikolskiy VyacheslavTitov,SergeyIvanov AleksandrTsekalo DmitriyZverkov MaksimTukhanin,98604,Cinderella,Comedy Romance,0,"Masha Krapivina - is yet beautiful, and not that clever. She is just an ordinary girl, like thousands of her peers from different parts of the country, who risked to try to conquer Moscow and left their native country town.",0.803588,ChannelOneRussia CentralPartnership,Russia,0.0,91.0,4.6,6.0,

In [175]:
# AH HA, these are cases of re-releases, and are tv-movies. Getting rid of budgets and revenue where the case is zero should solve this problem
#data2 = data[data['revenue'] >=1]

In [97]:
df4.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [98]:
df4.revenue.value_counts()

0.0           38052
12000000.0       20
11000000.0       19
10000000.0       19
2000000.0        18
              ...
36565280.0        1
439564.0          1
35610100.0        1
10217873.0        1
1413000.0         1
Name: revenue, Length: 6863, dtype: int64

In [176]:
data.shape

(46341, 15)

In [177]:
data2.shape

(7457, 15)

In [178]:
data2.title.is_unique

False

In [179]:
data2.title.value_counts()

Ghost                  4
Mickey                 3
Hercules               3
Anna Karenina          3
Captive                3
                      ..
All The Queen's Men    1
Paid in Full           1
Jackass: The Movie     1
Ghost Ship             1
Antidur                1
Name: title, Length: 7232, dtype: int64

In [181]:
data2[data2['title'] == 'Ghost']

,cast,crew,id,title,genres,budget,overview,popularity,production_companies,production_countries,revenue,runtime,vote_average,vote_count,keywords
580,PatrickSwayze DemiMoore WhoopiGoldberg TonyGoldwyn VincentSchiavelli GailBoggs StephenRoot RickAviles VivianBonnell ArmeliaMcQueen AngelinaEstrada AugieBlunt PhilLeeds AlmaBeltran,WalterMurch WalterMurch RuthMorley MauriceJarre AdamGreenberg JanetHirshenson JaneJenkins JerryZucker LisaWeinstein HowardW.Koch JaneMusky ClaytonCollins BruceJoelRubin MariettaCarter-Narcisse LeeHaxall JoeD.Mitchell MarkW.Mansbridge LeslieShatz RichardEdlund DougChiang BenNyeJr. AnthonyStacchi MikeBenson DioneTaylor CharliePicerni GaryDavis SteveMaslow DavidLeeFein KyleSweet MichaelMagill KenDufva StanTropp ThomasSaccio NedGorman ElizabethZiegler BruceNicholson JohnT.VanVliet MichaelGleason PeterSorel DouglasGreenfield DevenChierighino KatherineKean JuliaL.Walker ButchWest HorstGrandt GaryKudroff GaryRitchie KathyMcCart JeffHoward CandaceLewis MartineTomczyk SeanTurner JudithWeaver CharlieClavadetscher HowardStein CaryFisher DawnJ.Jackson GeneR.Johnson FayeBrenner EricKlosterman PattiHawn,251,Ghost,Fantasy Drama Thriller Mystery Romance,22000000,"Sam Wheat is a banker, Molly Jensen is an artist, and the two are madly in love. However, when Sam is murdered by his friend and corrupt business partner Carl Bruner over a shady business deal, he is left to roam the earth as a powerless spirit. When he learns of Carl's betrayal, Sam must seek the help of psychic Oda Mae Brown to set things right and protect Molly from Carl and his goons.",11.945397,ParamountPictures,UnitedStatesofAmerica,505000000.0,127.0,6.9,1381.0,corruption fortune teller money transfer money laundering pottery afterlife spiritism
35363,NanakoMatsushima SongSeung-heon SawaSuzuki KirinKiki,Tar√¥Ohtani,138853,Ghost,Mystery Drama Fantasy,0,"Nanami Hoshino, a wealthy entrepreneur, marries Korean potter Kim Jun-ho, and they both live a seemingly happy life. Then, one year after their marriage, Nanami is killed by a biker on her way home. This tragedy leaves Jun-ho completely devastated. At the hospital, Nanami's ghost arises from her body, and upon meeting a ghost child, she realizes that she is a ghost whose presence cannot be seen. She then realizes that her death was no coincidence and Jun-ho is in imminent danger. Unable to communicate with normal humans, Nanami seeks help from the elderly psychic Unten in hopes of saving Jun-ho's life.",0.215013,,Japan SouthKorea,9833553.0,116.0,4.3,4.0,
35364,NanakoMatsushima SongSeung-heon SawaSuzuki KirinKiki,Tar√¥Ohtani,138853,Ghost,Mystery Drama Fantasy,0,"Nanami Hoshino, a wealthy entrepreneur, marries Korean potter Kim Jun-ho, and they both live a seemingly happy life. Then, one year after their marriage, Nanami is killed by a biker on her way home. This tragedy leaves Jun-ho completely devastated. At the hospital, Nanami's ghost arises from her body, and upon meeting a ghost child, she realizes that she is a ghost whose presence cannot be seen. She then realizes that her death was no coincidence and Jun-ho is in imminent danger. Unable to communicate with normal humans, Nanami seeks help from the elderly psychic Unten in hopes of saving Jun-ho's life.",0.215013,,Japan SouthKorea,9833553.0,116.0,4.3,4.0,
44825,FyodorBondarchuk YanTsapnik AnnaAntonova IgorUgolnikov SemyonTreskunov KseniyaLavrova-Glinka,AleksandrVoytinskiy OlegMalovichko,332512,Ghost,Family Comedy,0,An aircraft designer becomes a ghost after a sudden death. Now he needs to engage a help of seven-grader in order to finish all his unaccomplished tasks.,1.041195,CTBFilmCompany,Russia,3300000.0,90.0,6.0,12.0,

In [173]:
# data.to_csv('dirty_df_anew')

In [183]:
data2.to_csv('dirty_df.csv')

In [186]:
release_date = df4[['release_date', 'id']]

In [187]:
release_date

      release_date      id
0       1995-10-30     862
1       1995-12-15    8844
2       1995-12-22   15602
3       1995-12-22   31357
4       1995-02-10   11862
...            ...     ...
45461          NaN  439050
45462   2011-11-17  111109
45463   2003-08-01   67758
45464   1917-10-21  227506
45465   2017-06-09  461257

[45460 rows x 2 columns]

In [189]:
data2 = data2.merge(release_date, on='id')

In [190]:
data2.to_csv('dirty_df.csv')

In [125]:
def acquire_data_new(use_cache=True):
    """
    Note, this docstring needs to be properly written, 
    but right now it is most important to know that links.csv is hashed out because 
    to me it seems useless. Maybe there is some utility though, which we can explore later. 
    As for ratings.csv, it is excluded due to the problems it will cause in my recent
    attempts to merge it. This is, as such, not necessarily a complete acquire, but one that will
    get us through Tuesday. 
    """
    # If the cached parameter is True, read the csv file on disk in the same folder as this file 
    if os.path.exists('dirty_df.csv') and use_cache:
        print('Using cached CSV')
        return pd.read_csv('dirty_df.csv')

    # When there's no cached csv, read the following query from Codeup's SQL database.
    print('CSV not detected.')
    print('Checking to s.')
    
    df = pd.read_csv('credits.csv')
    df2 = pd.read_csv('movies_metadata.csv')
    
    # set index as id
    df = df.set_index('id')
    # use UDF to get top 3 actors and the number of actors who appear 
    parsed_cast = df['cast'].apply(parse_cast)
    # merge those names with the original df
    df= df.merge(parsed_cast, on='id')
    # extract cast members (actors and actressess) from the nested dictionary.
    df['cast'] = df['cast'].apply(lambda x: ' '.join([i['name'].replace(' ', '') for i in eval(x)]))
    # extract crew members (directors et cetera) from the nested dictionary.
    df['crew'] = df['crew'].apply(lambda x: ' '.join([i['name'].replace(' ', '') for i in eval(x)]))
    
    # drop the nas in order to permit the subsequent numeric conversions
    df2 = df2.dropna(subset=['title'])
     # convert from object to a numeric data type
    df2['popularity'] = pd.to_numeric(df2['popularity'])
    # convert from object to a numeric data type
    df2['budget'] = pd.to_numeric(df2['budget'])
    # extract production companies from the nested dictionary.
    df2['production_companies'] = df2['production_companies']\
    .apply(lambda x: ' '.join([i['name'].replace(' ', '') for i in eval(x)]))
    # extract production countries from the nested dictionary.
    df2['production_countries'] = df2['production_countries']\
    .apply(lambda x: ' '.join([i['name'].replace(' ', '') for i in eval(x)]))
    # weird instances that make conversion impossible
    df2 = df2[df2['id'] != '1997-08-20']
    df2 = df2[df2['id'] != '2012-09-29']
    df2 = df2[df2['id'] != '2014-01-01']
    df2['id'] = df2['id'].astype(int)
    
    df_new = df2.merge(df,on='id')
    
    # fixes instances of id duplication
    cnt = df_new.id.value_counts()
    v = cnt[cnt == 1].index.values
    test = df_new.query("id in @v")
    data = test.copy()
    # removes instances of tv-movies and re-releases, whereby nothing was recorded for revenue.
    # consequently removes many duplicate releases (parts of collections, etc) that were barely reviewed
    data = data[data['revenue'] >=1]
    # creates a csv 
    data.to_csv('dirty_df.csv')
    
    return data

In [126]:
df = acquire_data_new()

CSV not detected.
Checking to s.

/var/folders/qn/sd1_3x2j4196db03067vql600000gn/T/ipykernel_9126/1580959952.py:1: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  df = acquire_data_new()

In [128]:
df.shape

(7388, 30)