In [1]:
import pandas as pd

In [123]:
df = pd.read_csv('keywords.csv')

In [4]:
df

           id                                           keywords
0         862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1        8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2       15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3       31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4       11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...
...       ...                                                ...
46414  439050             [{'id': 10703, 'name': 'tragic love'}]
46415  111109  [{'id': 2679, 'name': 'artist'}, {'id': 14531,...
46416   67758                                                 []
46417  227506                                                 []
46418  461257                                                 []

[46419 rows x 2 columns]

In [5]:
df2 = pd.read_csv('credits.csv')

In [73]:
df2.head(1)

,cast,crew,id
0,TomHanks TimAllen DonRickles JimVarney WallaceShawn JohnRatzenberger AnniePotts JohnMorris ErikvonDetten LaurieMetcalf R.LeeErmey SarahFreeman PennJillette,JohnLasseter JossWhedon AndrewStanton JoelCohen AlecSokolow BonnieArnold EdCatmull RalphGuggenheim SteveJobs LeeUnkrich RalphEggleston RobertGordon MaryHelenLeasman KimBlanchette MarilynMcCoppen RandyNewman DaleE.Grahn RobinCooper JohnLasseter PeteDocter JoeRanft PatsyBouge NormDeCarlo AshBrannon RandyNewman RomanFigun DonDavis JamesFlamberg MaryBethSmith RickMackay SusanBradley WilliamReeves RandyNewman AndrewStanton PeteDocter GaryRydstrom KarenRobertJackson ChrisMontan RichQuade MichaelBerenstein ColinBrady DaveyCrockettFeiten AngieGlocka RexGrignon TomK.Gurney JimmyHayward HalT.Hickel KarenKiser AnthonyB.LaMolinara GuionneLeroy BudLuckey LesMajor GlennMcQueen MarkOftedal JeffPidgeon JeffPratt SteveRabatich RogerRose SteveSegal DougSheppeck AlanSperling DougSweetland DavidTart KenWillard ThomasPorter MarkThomasHenne OrenJacob DarwynPeachey MitchPrater BrianM.Rosen SharonCalahan GalynSusman WilliamCone ShelleyDanielsLekven BobPauley BudLuckey AndrewStanton WilliamCone SteveJohnson DanHaskett TomHolloway JeanGillmore Desir√©eMourad KellyO'Connell SonokoKonishi AnnM.Rockwell JulieM.McDonald RobinLee TomFreeman AdaCochavi DanaMulligan DeirdreMorrison LoriLombardo EllenDevine LaurenBethStrogoff GaryRydstrom GarySummers TimHolland PatJackson TomMyers J.R.Grubbs SusanSanford SusanPopovic DanEngstrom RuthLambert MickieMcGowan,862

In [8]:
df3 = pd.read_csv('links.csv')

In [72]:
df3 # this wont be useful as the imdbid doesn't match the dataset we were working with recently.

       movieId   imdbId    tmdbId
0            1   114709     862.0
1            2   113497    8844.0
2            3   113228   15602.0
3            4   114885   31357.0
4            5   113041   11862.0
...        ...      ...       ...
45838   176269  6209470  439050.0
45839   176271  2028550  111109.0
45840   176273   303758   67758.0
45841   176275     8536  227506.0
45842   176279  6980792  461257.0

[45843 rows x 3 columns]

In [9]:
df4 = pd.read_csv('movies_metadata.csv')

/usr/local/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [10]:
df5 = pd.read_csv('ratings.csv')

In [22]:
print(f' df shape: {df.shape} | column names: {df.columns}')
print('')
print(f' df2 shape: {df2.shape} | column names: {df2.columns}')
print('')
print(f' df3 shape: {df3.shape} | column names: {df3.columns}')
print('')
print(f' df4 shape: {df4.shape} | column names: {df4.columns}')
print('')
print(f' df5 shape: {df5.shape} | column names: {df5.columns}')

 df shape: (46419, 2) | column names: Index(['id', 'keywords'], dtype='object')

 df2 shape: (45476, 3) | column names: Index(['cast', 'crew', 'id'], dtype='object')

 df3 shape: (45843, 3) | column names: Index(['movieId', 'imdbId', 'tmdbId'], dtype='object')

 df4 shape: (45466, 24) | column names: Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

 df5 shape: (26024289, 4) | column names: Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [124]:
df['keywords'] = df['keywords'].apply(lambda x: ' '.join([i['name'] for i in eval(x)]))

In [34]:
df

           id                                           keywords
0         862  jealousy toy boy friendship friends rivalry bo...
1        8844  board game disappearance based on children's b...
2       15602   fishing best friend duringcreditsstinger old men
3       31357  based on novel interracial relationship single...
4       11862  baby midlife crisis confidence aging daughter ...
...       ...                                                ...
46414  439050                                        tragic love
46415  111109                                  artist play pinoy
46416   67758
46417  227506
46418  461257

[46419 rows x 2 columns]

In [29]:
df2['cast'] = df2['cast'].apply(lambda x: ' '.join([i['name'].replace(' ', '') for i in eval(x)]))

In [31]:
df2['crew'] = df2['crew'].apply(lambda x: ' '.join([i['name'].replace(' ', '') for i in eval(x)]))

In [32]:
df2 # cast and crew extracted.

,cast,crew,id
0,TomHanks TimAllen DonRickles JimVarney WallaceShawn JohnRatzenberger AnniePotts JohnMorris ErikvonDetten LaurieMetcalf R.LeeErmey SarahFreeman PennJillette,JohnLasseter JossWhedon AndrewStanton JoelCohen AlecSokolow BonnieArnold EdCatmull RalphGuggenheim SteveJobs LeeUnkrich RalphEggleston RobertGordon MaryHelenLeasman KimBlanchette MarilynMcCoppen RandyNewman DaleE.Grahn RobinCooper JohnLasseter PeteDocter JoeRanft PatsyBouge NormDeCarlo AshBrannon RandyNewman RomanFigun DonDavis JamesFlamberg MaryBethSmith RickMackay SusanBradley WilliamReeves RandyNewman AndrewStanton PeteDocter GaryRydstrom KarenRobertJackson ChrisMontan RichQuade MichaelBerenstein ColinBrady DaveyCrockettFeiten AngieGlocka RexGrignon TomK.Gurney JimmyHayward HalT.Hickel KarenKiser AnthonyB.LaMolinara GuionneLeroy BudLuckey LesMajor GlennMcQueen MarkOftedal JeffPidgeon JeffPratt SteveRabatich RogerRose SteveSegal DougSheppeck AlanSperling DougSweetland DavidTart KenWillard ThomasPorter MarkThomasHenne OrenJacob DarwynPeachey MitchPrater BrianM.Rosen SharonCalahan GalynSusman WilliamCone ShelleyDanielsLekven BobPauley BudLuckey AndrewStanton WilliamCone SteveJohnson DanHaskett TomHolloway JeanGillmore Desir√©eMourad KellyO'Connell SonokoKonishi AnnM.Rockwell JulieM.McDonald RobinLee TomFreeman AdaCochavi DanaMulligan DeirdreMorrison LoriLombardo EllenDevine LaurenBethStrogoff GaryRydstrom GarySummers TimHolland PatJackson TomMyers J.R.Grubbs SusanSanford SusanPopovic DanEngstrom RuthLambert MickieMcGowan,862
1,RobinWilliams JonathanHyde KirstenDunst BradleyPierce BonnieHunt BebeNeuwirth DavidAlanGrier PatriciaClarkson AdamHann-Byrd LauraBellBundy JamesHandy GillianBarber BrandonObray CyrusThiedeke GaryJosephThorup LeonardZola LloydBerry MalcolmStewart AnnabelKershaw DarrylHenriques RobynDriscoll PeterBryant SarahGilson FloricaVlad JuneLion BrendaLockmuller,LarryJ.Franco JonathanHensleigh JamesHorner JoeJohnston RobertDalva NancyFoy KyleBalda JamesD.Bissell ScottKroopf TedField RobertW.Cort ThomasE.Ackerman ChrisvanAllsburg WilliamTeitler GregTaylor JimStrain,8844
2,WalterMatthau JackLemmon Ann-Margret SophiaLoren DarylHannah BurgessMeredith KevinPollak,HowardDeutch MarkStevenJohnson MarkStevenJohnson JackKeller,15602
3,WhitneyHouston AngelaBassett LorettaDevine LelaRochon GregoryHines DennisHaysbert MichaelBeach MykeltiWilliamson LamontJohnson WesleySnipes,ForestWhitaker RonaldBass RonaldBass EzraSwerdlow DeborahSchindler TerryMcMillan TerryMcMillan TerryMcMillan KennethEdmonds CaronK,31357
4,SteveMartin DianeKeaton MartinShort KimberlyWilliams-Paisley GeorgeNewbern KieranCulkin BDWong PeterMichaelGoetz KateMcGregor-Stewart JaneAdams EugeneLevy LoriAlan,AlanSilvestri ElliotDavis NancyMeyers NancyMeyers AlbertHackett CharlesShyer AdamBernardi,11862
...,...,...,...
45471,LeilaHatami KouroshTahami ElhamKorda,HamidNematollah HamidNematollah FarshadMohammadi MasoumehBayat MehdiSaadi BabakArdalan AzadehGhavam SahandTorabi HomayounShajarian,439050
45472,AngelAquino PerryDizon HazelOrencio JoelTorre BartGuingona SolimanCruz Roeder AngeliBayani DantePerez BettyUy-Regala Modesta,LavDiaz LavDiaz DantePerez LavDiaz LavDiaz LavDiaz,111109
45473,ErikaEleniak AdamBaldwin JulieduPage JamesRemar DamianChapa LouisMandylor TomWright JeremyLelliott JamesQuattrochi JasonWidener JoeSabatino KikoEllsworth DonSwayze PeterDobson DarrellDubovsky,MarkL.Lester C.CourtneyJoyner JeffreyGoldenberg RichardMcHugh Jo√£oFernandes,67758
45474,IwanMosschuchin NathalieLissenko PavelPavlov AleksandrChabrov VeraOrlova,YakovProtazanov JosephN.Ermolieff,227506
45475,,DaisyAsquith,461257

In [ ]:
# to extract a value from a column with dictionary
#df.a_column_with_a_dictionary.apply(lambda d: d['some_key'])

In [87]:
df4.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [65]:
df4 = df4.dropna(subset=['title'])
df4['popularity'] = pd.to_numeric(df4['popularity'])
df4['budget'] = pd.to_numeric(df4['budget'])
df4['id'] = pd.to_numeric(df4['id'])

In [84]:
df4['production_companies'] = df4['production_companies'].apply(lambda x: ' '.join([i['name'].replace(' ', '') for i in eval(x)]))

In [88]:
df4['production_countries'] = df4['production_countries'].apply(lambda x: ' '.join([i['name'].replace(' ', '') for i in eval(x)]))

In [85]:
df4.production_companies.value_counts()

                                                                                                                                   11875
Metro-Goldwyn-Mayer(MGM)                                                                                                             742
WarnerBros.                                                                                                                          540
ParamountPictures                                                                                                                    505
TwentiethCenturyFoxFilmCorporation                                                                                                   439
                                                                                                                                   ...
DimensionFilms SpectacleEntertainmentGroup TrancasInternationalFilms                                                                   1
HBOFilms MovingPictures                                                                                                                1
BIMDistribuzione Canal+ AltaProducci√≥n CentreNationaldelaCin√©matographie(CNC) R√©zoProductions CompagnieEricRohmer(CER) Cin√©mage        1
Galat√©eFilms NovoArturoFilms ConstantinFilmProduktion Path√© France2Cin√©ma France3Cinema LoglineStudios BlueScreenProductions           1
Yermoliev                                                                                                                              1
Name: production_companies, Length: 22658, dtype: int64

In [89]:
df4.production_countries # I will worry about cleaning these later. Space between instances of capitalization would work
# if not for 'of'. U.S. can be handled separately

0        UnitedStatesofAmerica
1        UnitedStatesofAmerica
2        UnitedStatesofAmerica
3        UnitedStatesofAmerica
4        UnitedStatesofAmerica
                 ...
45461                     Iran
45462              Philippines
45463    UnitedStatesofAmerica
45464                   Russia
45465            UnitedKingdom
Name: production_countries, Length: 45460, dtype: object

In [67]:
df4.genres

0         Animation Comedy Family
1        Adventure Fantasy Family
2                  Romance Comedy
3            Comedy Drama Romance
4                          Comedy
                   ...
45461                Drama Family
45462                       Drama
45463       Action Drama Thriller
45464
45465
Name: genres, Length: 45460, dtype: object

In [ ]:
# good enough for now, attempting to merge
# disregarding links.csv

# df = keywords.csv
# df2 = credits.csv
# df4 = moviemetadata.csv
# df5 = ratings.csv

In [76]:
df5.head(2)

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435

In [ ]:
df4.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}",30000000,Animation Comedy Family,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences.",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,Adventure Fantasy Family,NaN,8844,tt0113497,en,Jumanji,"When siblings Judy and Peter discover an enchanted board game that opens the door to a magical world, they unwittingly invite Alan -- an adult who's been trapped inside the game for 26 years -- into their living room. Alan's only hope for freedom is to finish the game, which proves risky as all three find themselves running from giant rhinoceroses, evil monkeys and other terrifying creatures.",...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'fr', 'name': 'Fran√ßais'}]",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0

In [81]:
df4.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [172]:
df4.spoken_languages

0                 [{'iso_639_1': 'en', 'name': 'English'}]
1        [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
2                 [{'iso_639_1': 'en', 'name': 'English'}]
3                 [{'iso_639_1': 'en', 'name': 'English'}]
4                 [{'iso_639_1': 'en', 'name': 'English'}]
                               ...
45461               [{'iso_639_1': 'fa', 'name': 'ŸÅÿßÿ±ÿ≥€å'}]
45462                    [{'iso_639_1': 'tl', 'name': ''}]
45463             [{'iso_639_1': 'en', 'name': 'English'}]
45464                                                   []
45465             [{'iso_639_1': 'en', 'name': 'English'}]
Name: spoken_languages, Length: 45460, dtype: object

In [93]:
df4.vote_average

0        7.7
1        6.9
2        6.5
3        6.1
4        5.7
        ...
45461    4.0
45462    9.0
45463    3.8
45464    0.0
45465    0.0
Name: vote_average, Length: 45460, dtype: float64

In [94]:
data = pd.merge(df5, df4[['id', 'title', 'genres', 'budget', 'overview', 'popularity', 'production_companies', 'production_countries',
                          'revenue', 'runtime', 'vote_average', 'vote_count']], left_on='movieId', right_on='id')

In [104]:
data.columns

Index(['userId', 'movieId', 'rating', 'timestamp', 'id', 'title', 'genres',
       'budget', 'overview', 'popularity', 'production_companies',
       'production_countries', 'revenue', 'runtime', 'vote_average',
       'vote_count'],
      dtype='object')

In [98]:
data.userId.value_counts()

45811     3594
8659      3024
179792    2578
107720    2103
270123    2040
          ...
139422       1
146542       1
147825       1
22475        1
217250       1
Name: userId, Length: 265917, dtype: int64

In [100]:
data.id.value_counts()

318       91082
296       87901
593       84078
260       77045
480       74355
          ...
112705        1
32930         1
142308        1
173557        1
136928        1
Name: id, Length: 7565, dtype: int64

In [103]:
data[data['id'] == 318].sample(3)

,userId,movieId,rating,timestamp,id,title,genres,budget,overview,popularity,production_companies,production_countries,revenue,runtime,vote_average,vote_count
1565279,13147,318,5.0,901056118,318,The Million Dollar Hotel,Drama Thriller,8000000,The Million Dollar Hotel starts with a jump from a roof top that clears up a death in a hotel that was burning to the ground where a lot of strange people had been living.,4.938231,KintopPictures,UnitedStatesofAmerica Germany,0.0,122.0,5.9,76.0
1624115,187976,318,5.0,1451930310,318,The Million Dollar Hotel,Drama Thriller,8000000,The Million Dollar Hotel starts with a jump from a roof top that clears up a death in a hotel that was burning to the ground where a lot of strange people had been living.,4.938231,KintopPictures,UnitedStatesofAmerica Germany,0.0,122.0,5.9,76.0
1577993,50763,318,4.0,1447113546,318,The Million Dollar Hotel,Drama Thriller,8000000,The Million Dollar Hotel starts with a jump from a roof top that clears up a death in a hotel that was burning to the ground where a lot of strange people had been living.,4.938231,KintopPictures,UnitedStatesofAmerica Germany,0.0,122.0,5.9,76.0

Ah, so similar to the last dataset, the userId (whereas last time the repeated instances of actors and actresses et cetera) is resulting in clones of the title. 
This is problematic. I do not see the value of the user ratings in particular versus the average; for right now, I will disregard the content.

In [126]:
data = pd.merge(df2, df4[['id', 'title', 'genres', 'budget', 'overview', 'popularity', 'production_companies', 'production_countries',
                          'revenue', 'runtime', 'vote_average', 'vote_count']], left_on='id', right_on='id')

In [128]:
data.head(1)

,cast,crew,id,title,genres,budget,overview,popularity,production_companies,production_countries,revenue,runtime,vote_average,vote_count
0,TomHanks TimAllen DonRickles JimVarney WallaceShawn JohnRatzenberger AnniePotts JohnMorris ErikvonDetten LaurieMetcalf R.LeeErmey SarahFreeman PennJillette,JohnLasseter JossWhedon AndrewStanton JoelCohen AlecSokolow BonnieArnold EdCatmull RalphGuggenheim SteveJobs LeeUnkrich RalphEggleston RobertGordon MaryHelenLeasman KimBlanchette MarilynMcCoppen RandyNewman DaleE.Grahn RobinCooper JohnLasseter PeteDocter JoeRanft PatsyBouge NormDeCarlo AshBrannon RandyNewman RomanFigun DonDavis JamesFlamberg MaryBethSmith RickMackay SusanBradley WilliamReeves RandyNewman AndrewStanton PeteDocter GaryRydstrom KarenRobertJackson ChrisMontan RichQuade MichaelBerenstein ColinBrady DaveyCrockettFeiten AngieGlocka RexGrignon TomK.Gurney JimmyHayward HalT.Hickel KarenKiser AnthonyB.LaMolinara GuionneLeroy BudLuckey LesMajor GlennMcQueen MarkOftedal JeffPidgeon JeffPratt SteveRabatich RogerRose SteveSegal DougSheppeck AlanSperling DougSweetland DavidTart KenWillard ThomasPorter MarkThomasHenne OrenJacob DarwynPeachey MitchPrater BrianM.Rosen SharonCalahan GalynSusman WilliamCone ShelleyDanielsLekven BobPauley BudLuckey AndrewStanton WilliamCone SteveJohnson DanHaskett TomHolloway JeanGillmore Desir√©eMourad KellyO'Connell SonokoKonishi AnnM.Rockwell JulieM.McDonald RobinLee TomFreeman AdaCochavi DanaMulligan DeirdreMorrison LoriLombardo EllenDevine LaurenBethStrogoff GaryRydstrom GarySummers TimHolland PatJackson TomMyers J.R.Grubbs SusanSanford SusanPopovic DanEngstrom RuthLambert MickieMcGowan,862,Toy Story,Animation Comedy Family,30000000,"Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences.",21.946943,PixarAnimationStudios,UnitedStatesofAmerica,373554033.0,81.0,7.7,5415.0

In [129]:
data.id.is_unique

False

In [130]:
data.id.value_counts()
# at least now the number is substantially lower

141971    9
298721    4
5511      4
15028     4
13209     4
         ..
4180      1
55135     1
15877     1
72272     1
461257    1
Name: id, Length: 45429, dtype: int64

In [131]:
data[data['id'] == 141971]

,cast,crew,id,title,genres,budget,overview,popularity,production_companies,production_countries,revenue,runtime,vote_average,vote_count
13308,PetteriSummanen IsmoKallio EppuSalminen IrinaBj√∂rklund Hannu-PekkaBj√∂rkman JenniBanerjee MikkoLeppilampi LenaMeril√§inen MariPerankoski RistoKaskilahti,JPSiili JPSiili,141971,Blackout,Thriller Mystery,0,"Recovering from a nail gun shot to the head and 13 months of coma, doctor Pekka Valinta starts to unravel the mystery of his past, still suffering from total amnesia.",0.411949,FilmiteollisuusFine,Finland,0.0,108.0,6.7,3.0
13309,PetteriSummanen IsmoKallio EppuSalminen IrinaBj√∂rklund Hannu-PekkaBj√∂rkman JenniBanerjee MikkoLeppilampi LenaMeril√§inen MariPerankoski RistoKaskilahti,JPSiili JPSiili,141971,Blackout,Thriller Mystery,0,"Recovering from a nail gun shot to the head and 13 months of coma, doctor Pekka Valinta starts to unravel the mystery of his past, still suffering from total amnesia.",0.411949,FilmiteollisuusFine,Finland,0.0,108.0,6.7,3.0
13310,PetteriSummanen IsmoKallio EppuSalminen IrinaBj√∂rklund Hannu-PekkaBj√∂rkman JenniBanerjee MikkoLeppilampi LenaMeril√§inen MariPerankoski RistoKaskilahti,JPSiili JPSiili,141971,Blackout,Thriller Mystery,0,"Recovering from a nail gun shot to the head and 13 months of coma, doctor Pekka Valinta starts to unravel the mystery of his past, still suffering from total amnesia.",0.411949,FilmiteollisuusFine,Finland,0.0,108.0,6.7,3.0
13311,PetteriSummanen IsmoKallio EppuSalminen IrinaBj√∂rklund Hannu-PekkaBj√∂rkman JenniBanerjee MikkoLeppilampi LenaMeril√§inen MariPerankoski RistoKaskilahti,JPSiili JPSiili,141971,Blackout,Thriller Mystery,0,"Recovering from a nail gun shot to the head and 13 months of coma, doctor Pekka Valinta starts to unravel the mystery of his past, still suffering from total amnesia.",0.411949,FilmiteollisuusFine,Finland,0.0,108.0,6.7,3.0
13312,PetteriSummanen IsmoKallio EppuSalminen IrinaBj√∂rklund Hannu-PekkaBj√∂rkman JenniBanerjee MikkoLeppilampi LenaMeril√§inen MariPerankoski RistoKaskilahti,JPSiili JPSiili,141971,Blackout,Thriller Mystery,0,"Recovering from a nail gun shot to the head and 13 months of coma, doctor Pekka Valinta starts to unravel the mystery of his past, still suffering from total amnesia.",0.411949,FilmiteollisuusFine,Finland,0.0,108.0,6.7,3.0
13313,PetteriSummanen IsmoKallio EppuSalminen IrinaBj√∂rklund Hannu-PekkaBj√∂rkman JenniBanerjee MikkoLeppilampi LenaMeril√§inen MariPerankoski RistoKaskilahti,JPSiili JPSiili,141971,Blackout,Thriller Mystery,0,"Recovering from a nail gun shot to the head and 13 months of coma, doctor Pekka Valinta starts to unravel the mystery of his past, still suffering from total amnesia.",0.411949,FilmiteollisuusFine,Finland,0.0,108.0,6.7,3.0
13314,PetteriSummanen IsmoKallio EppuSalminen IrinaBj√∂rklund Hannu-PekkaBj√∂rkman JenniBanerjee MikkoLeppilampi LenaMeril√§inen MariPerankoski RistoKaskilahti,JPSiili JPSiili,141971,Blackout,Thriller Mystery,0,"Recovering from a nail gun shot to the head and 13 months of coma, doctor Pekka Valinta starts to unravel the mystery of his past, still suffering from total amnesia.",0.411949,FilmiteollisuusFine,Finland,0.0,108.0,6.7,3.0
13315,PetteriSummanen IsmoKallio EppuSalminen IrinaBj√∂rklund Hannu-PekkaBj√∂rkman JenniBanerjee MikkoLeppilampi LenaMeril√§inen MariPerankoski RistoKaskilahti,JPSiili JPSiili,141971,Blackout,Thriller Mystery,0,"Recovering from a nail gun shot to the head and 13 months of coma, doctor Pekka Valinta starts to unravel the mystery of his past, still suffering from total amnesia.",0.411949,FilmiteollisuusFine,Finland,0.0,108.0,6.7,3.0
13316,PetteriSummanen IsmoKallio EppuSalminen IrinaBj√∂rklund Hannu-PekkaBj√∂rkman JenniBanerjee MikkoLeppilampi LenaMeril√§inen MariPerankoski RistoKaskilahti,JPSiili JPSiili,141971,Blackout,Thriller Mystery,0,"Recovering from a nail gun shot to the head and 13 months of coma, doctor Pekka Valinta starts to unravel the mystery of his past, still suffering from total amnesia.",0.411949,FilmiteollisuusFine,Finland,0.0,108.0,6.7,3.0

In [ ]:
# this may be some error thrown by the revenue and budget being 0 as well as the obscurity/low rating .

In [150]:
cnt = data.id.value_counts()
cnt
v = cnt[cnt == 1].index.values
v

test = data.query("id in @v")
test.id.is_unique
# nailed it.

In [152]:
data = test.copy()

In [153]:
data.columns

Index(['cast', 'crew', 'id', 'title', 'genres', 'budget', 'overview',
       'popularity', 'production_companies', 'production_countries', 'revenue',
       'runtime', 'vote_average', 'vote_count'],
      dtype='object')

In [154]:
data.sample(2)

,cast,crew,id,title,genres,budget,overview,popularity,production_companies,production_countries,revenue,runtime,vote_average,vote_count
20777,JimCarrey AlanThicke RichardGautier ZiggyLorenc RodHebron JeanLaplac BruceCarr,DamianLee DavidMitchell,19809,Copper Mountain,Comedy Romance,0,"Two friends travel to a ski resort, with one looking to hit the slopes, while the other spends time trying to pick up women.",2.089464,Rose&RubyProductions,UnitedStatesofAmerica,0.0,60.0,2.9,8.0
9828,CarolLynley JeffChandler EleanorParker MaryAstor RobertSterling LucianaPaluzzi BrettHalsey GunnarHellstr√∂m TuesdayWeld,FranzWaxman JackMartinSmith WalterM.Scott Donfeld Jos√©Ferrer FredM.MacLean DavidBretherton JerryWald HansPeters CurtisHarrington CharlesG.Clarke RonaldAlexander GraceMetalious,111017,Return to Peyton Place,Drama Romance,0,More hubub in the little town full of secrets when a visiting author trys to pry loose some juicy scandals!,0.611692,JerryWaldProductions,UnitedStatesofAmerica,0.0,123.0,7.2,5.0

In [157]:
df.head(1)

    id                                           keywords
0  862  jealousy toy boy friendship friends rivalry bo...

In [158]:
# very simple merge
data = data.merge(df, on='id')

In [160]:
# still stumped on what to do with df5
df5.userId.value_counts()

45811     18276
8659       9279
270123     7638
179792     7515
228291     7410
          ...
30155         1
9641          1
164717        1
243426        1
234625        1
Name: userId, Length: 270896, dtype: int64

In [165]:
data.title.value_counts()

Cinderella                         13
Alice in Wonderland                 9
Hamlet                              9
Beauty and the Beast                8
The Forest                          8
                                   ..
I Killed My Mother                  1
Life During Wartime                 1
Lion's Den                          1
That Most Important Thing: Love     1
Queerama                            1
Name: title, Length: 42241, dtype: int64

In [166]:
data[data['title'] == 'Cinderella']

,cast,crew,id,title,genres,budget,overview,popularity,production_companies,production_countries,revenue,runtime,vote_average,vote_count,keywords
990,IleneWoods EleanorAudley LucilleBliss VernaFelton HeleneStanley JamesMacDonald LuisvanRooten DonBarclay ClaireDuBrey RhodaWilliams MarionDarlington,ClydeGeronimi WilfredJackson HamiltonLuske CharlesPerrault PaulJ.Smith OliverWallace DonaldHalliday WaltDisney BillPeed TedSears HomerBrightman KenAnderson ErdmanPenner WinstonHibler HarryReeves JoeRinaldi MerleCox McLarenStewart C.O.Slyfield HaroldJ.Steck RobertO.Cook AlTeeter MackDavid JerryLivingston AlHoffman JosephDubin TomCodrick LanceNolley DonGriffith KendallO'Connor HughHennesy CharlesPhilippi ThorPutnam BriceMack DickAnthony ThelmaWitmer ArtRiley RayHuffine EricLarson WardKimball MiltKahl OllieJohnston FrankThomas MarcDavis JohnLounsbery LesClark WolfgangReitherman NormanFerguson BenSharpsteen RalphHulett,11224,Cinderella,Family Fantasy Animation Romance,2900000,"Cinderella has faith her dreams of a better life will come true. With help from her loyal mice friends and a wave of her Fairy Godmother's wand, Cinderella's rags are magically turned into a glorious gown and off she goes to the Royal Ball. But when the clock strikes midnight, the spell is broken, leaving a single glass slipper... the only key to the ultimate fairy-tale ending!",14.436858,RKORadioPictures WaltDisneyProductions,UnitedStatesofAmerica,263591415.0,74.0,6.8,1760.0,based on novel cinderella loss of parents mouse ball fairy prince musical midnight princess love orphan family evil stepmother fairy godmother glass slipper
13056,BrandyNorwood WhitneyHouston WhoopiGoldberg BernadettePeters JasonAlexander,RobertIscove,42884,Cinderella,TV Movie Family Fantasy Music Romance,0,"Updated version of the classic Rodgers and Hammerstein musical of the classic fairy-tale, with an all-star, multi-racial cast.",2.102013,WaltDisneyTelevision CitadelEntertainment StorylineEntertainment BrownHouseProductions,UnitedStatesofAmerica,0.0,88.0,6.1,28.0,cinderella musical rodgers & hammerstei
23463,MaryPickford OwenMoore IsabelVernon GeorgiaWilson LucilleCarney W.N.Cone InezMarcel,CharlesPerrault JamesKirkwood,92349,Cinderella,Fantasy Drama,0,"Based on Charles Perrault's fairy tale: Cinderella is mistreated by her stepmother and stepsisters, but she is able to go to the Royal Ball with the help of the Fairy Godmother.",0.361288,,UnitedStatesofAmerica,0.0,52.0,5.4,7.0,
23474,TonyAil NathanAswell CheraBailey KathleenBarr GarryChalk LillianCarlson IanJamesCorlett,ToshiyukiHiruma CharlesPerrault GeorgeArthurBloom,105875,Cinderella,Animation Family Fantasy,0,"Cinderella, the beautiful and kind-hearted ragamuffin who lives with her greedy stepmother and two selfish stepsisters, charms a handsome prince when her fairy godmother sends her to the royal ball. She must leave the ball by midnight before all the magic is gone, but Cinderella has so much fun that she forgets all about the warning, and when she flees the castle she leaves behind one glass slipper. Cinderella, originally released directly to video in 1994, is a 48-minute animated film adapted from the classic fairy tale, ""Cinderella"" by Charles Perrault. The movie was produced by Jetlag Productions and was distributed to DVD in 2002 by GoodTimes Entertainment as part of their ""Collectible Classics"" line.",2.154873,GoodTimesEntertainment,Japan UnitedStatesofAmerica,0.0,48.0,6.0,2.0,
28329,VanessaHessler FlavioParenti NataliaW√∂rner Ruth-MariaKubitschek HaryPrinz FrankCrudele RosabellLaurentiSellers CarlottaNatoli GiuliaAnd√≤ IlariaSpada MassimoPoggio MariellaValentini WanjaSellers UrbanoBarberini,DavidYardley LucaBernabei MonicaSallustio ChristianDuguay TeresaRazzauti AgathaDominik LeaTafuri MaurizioMillenotti FabrizioLucci AndreaGuerra CarmeloAgate,261985,Cinderella,Family TV Movie,0,"Once upon a time in post-war Rome: 13-year old Aurora, a gifted pianist, is the daughter of Valerio, a brilliant conductor. After Aurora's mother died, Valerio hired Irene, a single mother of two girls, to run the household. To Aurora's regret he decides to marry Irene. One day, Aurora happens to meet the boys next door, Freddy and Sebastian, the sons of a wealthy Italo-Austrian family. Freddy is an easy-going chap, though sometimes a little bit arrogant. His brother Sebastian is kind and shy, with a great ability to listen to and understand people, which makes him win Aurora's heart.",0.987462,BetaFilm LuxVide ARD/DegetoFilmGmbH RaiFiction RaiTrade 13Productions,Italy,0.0,180.0,5.3,9.0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35726,JulieAndrews HowardLindsay HowardLindsay IlkaChase KayeBallard AliceGhostley EdieAdams JohnCypher DavidF.Perkins,AlfredoAntonini RalphNelson OscarHammersteinII RichardRodgers JonathanLucas RichardLewine WilliamEckart JeanEckart JeanEckart RobertRussellBennett,44459,Cinderella,Drama Romance,0,The first of three TV-versions of the classic fairy tale that featured a Rodgers and Hammerstein score and was performed in front of a live audience.,0.209552,,UnitedStatesofAmerica,0.0,77.0,5.9,5.0,
35729,KathleenTurner KatrinCartlidge DavidWarner JaneBirkin LucyPunch MarcellaPlunkett LesliePhillips SharonMaughan GideonTurner GrantIbbs,BeebanKidron TrevorEve AlekseiRodionov NickDear JazColeman SimonJohnson,289673,Cinderella,,0,"Cinderella (named Zezolla) and her family live mid 20th century, where fashion is practically everything. As her father is won over by a selfish woman named Claudette, Cinderella must keep her new step-mother from murdering the only family she has left. Add in an anti-social mermaid literally living in a cave, a bored prince with an ear for rock n' roll, and the glamour of the 1950's and one'll find that this story can't grow old",1.085134,,,0.0,90.0,5.6,5.0,woman director
35730,KathleenTurner KatrinCartlidge DavidWarner JaneBirkin LucyPunch MarcellaPlunkett LesliePhillips SharonMaughan GideonTurner GrantIbbs,BeebanKidron TrevorEve AlekseiRodionov NickDear JazColeman SimonJohnson,289673,Cinderella,,0,"Cinderella (named Zezolla) and her family live mid 20th century, where fashion is practically everything. As her father is won over by a selfish woman named Claudette, Cinderella must keep her new step-mother from murdering the only family she has left. Add in an anti-social mermaid literally living in a cave, a bored prince with an ear for rock n' roll, and the glamour of the 1950's and one'll find that this story can't grow old",1.085134,,,0.0,90.0,5.6,5.0,woman director
41953,GeorgesM√©li√®s Barral BleuetteBernon Carmely Jeanned'Alcy Depeyrou,GeorgesM√©li√®s CharlesPerrault,114108,Cinderella,Fantasy Horror Science Fiction Family,0,"A fairy godmother magically turns Cinderella's rags to a beautiful dress, and a pumpkin into a coach. Cinderella goes to the ball, where she meets the Prince - but will she remember to leave before the magic runs out? M√©li√®s based the art direction on engravings by Gustave Dor√©. First known example of a fairy-tale adapted to film, and the first film to use dissolves to go from one scene to another.",1.301063,Star-Film GeorgesM√©li√®s,France,0.0,5.0,5.5,19.0,fairy tale fairy godmother
46281,KristinaAsmus NikitaEfremov ArtyomTkachenko ElizavetaBoyarskaya NonnaGrishaeva YuriyStoyanov SergeyBurunov AleksandrTsekalo AnnaSherling AnnaArshava AnnaBagmet AleksandrBocharov MargaritaBychkova AleksandrKorchagin VsevolodMakarov AnnaMasalskaya AleksandrNikolskiy VyacheslavTitov,SergeyIvanov AleksandrTsekalo DmitriyZverkov MaksimTukhanin,98604,Cinderella,Comedy Romance,0,"Masha Krapivina - is yet beautiful, and not that clever. She is just an ordinary girl, like thousands of her peers from different parts of the country, who risked to try to conquer Moscow and left their native country town.",0.803588,ChannelOneRussia CentralPartnership,Russia,0.0,91.0,4.6,6.0,

In [175]:
# AH HA, these are cases of re-releases, and are tv-movies. Getting rid of budgets and revenue where the case is zero should solve this problem
data2 = data[data['revenue'] >=1]

In [176]:
data.shape

(46341, 15)

In [177]:
data2.shape

(7457, 15)

In [178]:
data2.title.is_unique

False

In [179]:
data2.title.value_counts()

Ghost                  4
Mickey                 3
Hercules               3
Anna Karenina          3
Captive                3
                      ..
All The Queen's Men    1
Paid in Full           1
Jackass: The Movie     1
Ghost Ship             1
Antidur                1
Name: title, Length: 7232, dtype: int64

In [ ]:
cnt = data.id.value_counts()
cnt
v = cnt[cnt == 1].index.values
v

test = data.query("id in @v")
test.id.is_unique
# nailed it.

In [181]:
data2[data2['title'] == 'Ghost']

,cast,crew,id,title,genres,budget,overview,popularity,production_companies,production_countries,revenue,runtime,vote_average,vote_count,keywords
580,PatrickSwayze DemiMoore WhoopiGoldberg TonyGoldwyn VincentSchiavelli GailBoggs StephenRoot RickAviles VivianBonnell ArmeliaMcQueen AngelinaEstrada AugieBlunt PhilLeeds AlmaBeltran,WalterMurch WalterMurch RuthMorley MauriceJarre AdamGreenberg JanetHirshenson JaneJenkins JerryZucker LisaWeinstein HowardW.Koch JaneMusky ClaytonCollins BruceJoelRubin MariettaCarter-Narcisse LeeHaxall JoeD.Mitchell MarkW.Mansbridge LeslieShatz RichardEdlund DougChiang BenNyeJr. AnthonyStacchi MikeBenson DioneTaylor CharliePicerni GaryDavis SteveMaslow DavidLeeFein KyleSweet MichaelMagill KenDufva StanTropp ThomasSaccio NedGorman ElizabethZiegler BruceNicholson JohnT.VanVliet MichaelGleason PeterSorel DouglasGreenfield DevenChierighino KatherineKean JuliaL.Walker ButchWest HorstGrandt GaryKudroff GaryRitchie KathyMcCart JeffHoward CandaceLewis MartineTomczyk SeanTurner JudithWeaver CharlieClavadetscher HowardStein CaryFisher DawnJ.Jackson GeneR.Johnson FayeBrenner EricKlosterman PattiHawn,251,Ghost,Fantasy Drama Thriller Mystery Romance,22000000,"Sam Wheat is a banker, Molly Jensen is an artist, and the two are madly in love. However, when Sam is murdered by his friend and corrupt business partner Carl Bruner over a shady business deal, he is left to roam the earth as a powerless spirit. When he learns of Carl's betrayal, Sam must seek the help of psychic Oda Mae Brown to set things right and protect Molly from Carl and his goons.",11.945397,ParamountPictures,UnitedStatesofAmerica,505000000.0,127.0,6.9,1381.0,corruption fortune teller money transfer money laundering pottery afterlife spiritism
35363,NanakoMatsushima SongSeung-heon SawaSuzuki KirinKiki,Tar√¥Ohtani,138853,Ghost,Mystery Drama Fantasy,0,"Nanami Hoshino, a wealthy entrepreneur, marries Korean potter Kim Jun-ho, and they both live a seemingly happy life. Then, one year after their marriage, Nanami is killed by a biker on her way home. This tragedy leaves Jun-ho completely devastated. At the hospital, Nanami's ghost arises from her body, and upon meeting a ghost child, she realizes that she is a ghost whose presence cannot be seen. She then realizes that her death was no coincidence and Jun-ho is in imminent danger. Unable to communicate with normal humans, Nanami seeks help from the elderly psychic Unten in hopes of saving Jun-ho's life.",0.215013,,Japan SouthKorea,9833553.0,116.0,4.3,4.0,
35364,NanakoMatsushima SongSeung-heon SawaSuzuki KirinKiki,Tar√¥Ohtani,138853,Ghost,Mystery Drama Fantasy,0,"Nanami Hoshino, a wealthy entrepreneur, marries Korean potter Kim Jun-ho, and they both live a seemingly happy life. Then, one year after their marriage, Nanami is killed by a biker on her way home. This tragedy leaves Jun-ho completely devastated. At the hospital, Nanami's ghost arises from her body, and upon meeting a ghost child, she realizes that she is a ghost whose presence cannot be seen. She then realizes that her death was no coincidence and Jun-ho is in imminent danger. Unable to communicate with normal humans, Nanami seeks help from the elderly psychic Unten in hopes of saving Jun-ho's life.",0.215013,,Japan SouthKorea,9833553.0,116.0,4.3,4.0,
44825,FyodorBondarchuk YanTsapnik AnnaAntonova IgorUgolnikov SemyonTreskunov KseniyaLavrova-Glinka,AleksandrVoytinskiy OlegMalovichko,332512,Ghost,Family Comedy,0,An aircraft designer becomes a ghost after a sudden death. Now he needs to engage a help of seven-grader in order to finish all his unaccomplished tasks.,1.041195,CTBFilmCompany,Russia,3300000.0,90.0,6.0,12.0,

In [173]:
# data.to_csv('dirty_df_anew')

In [183]:
data2.to_csv('dirty_df.csv')

In [186]:
release_date = df4[['release_date', 'id']]

In [187]:
release_date

      release_date      id
0       1995-10-30     862
1       1995-12-15    8844
2       1995-12-22   15602
3       1995-12-22   31357
4       1995-02-10   11862
...            ...     ...
45461          NaN  439050
45462   2011-11-17  111109
45463   2003-08-01   67758
45464   1917-10-21  227506
45465   2017-06-09  461257

[45460 rows x 2 columns]

In [189]:
data2 = data2.merge(release_date, on='id')

In [190]:
data2.to_csv('dirty_df.csv')