# Imports

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import gzip
import shutil
import os
import re

import acquire_nick as an
import prepare_nick as pn
import wrangle as w

# Make sure we can see the full scale of the data
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
df = w.wrangle_df()
df.head()

clean.csv not detected.
Acquiring and Preparing Data
Capstone CSV not detected.
reading dirty CSVs: credits and movies_metadata

/Users/braedenwright/codeup-data-science/capstone-project/wrangle.py:14: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  df = prep_data(acquire_data())

clean.csv not detected.
processing capstone.csv
clean.csv ready for future use

,title,success,success_rating,genres,cast_actor_1,cast_actor_2,cast_actor_3,total_n_cast,budget,revenue,profit_amount,vote_average,vote_count,production_companies,production_countries,overview,popularity,runtime,profitable,release_date,release_year,imdb_id
id,,,,,,,,,,,,,,,,,,,,,,
5,Four Rooms,False,3.493750,Crime Comedy,Tim Roth,Antonio Banderas,Jennifer Beals,24.0,4000000.0,4300000.0,300000.0,6.5,539.0,MiramaxFilms ABandApart,UnitedStatesofAmerica,It's Ted the Bellhop's first night on the job....,9.026586,98.0,False,1995-12-09,1995,tt0113101
6,Judgment Night,False,4.854775,Action Thriller Crime,Emilio Estevez,Cuba Gooding Jr.,Denis Leary,15.0,8000000.0,12136938.0,4136938.0,6.4,79.0,UniversalPictures LargoEntertainment JVCEntert...,Japan UnitedStatesofAmerica,"While racing to a boxing match, Frank, Mike, J...",5.538671,110.0,False,1993-10-15,1993,tt0107286
11,Star Wars,True,285.487448,Adventure Action Science Fiction,Mark Hamill,Harrison Ford,Carrie Fisher,106.0,11000000.0,775398007.0,764398007.0,8.1,6778.0,Lucasfilm TwentiethCenturyFoxFilmCorporation,UnitedStatesofAmerica,Princess Leia is captured and held hostage by ...,42.149697,121.0,True,1977-05-25,1977,tt0076759
12,Finding Nemo,True,38.013564,Animation Family,Albert Brooks,Ellen DeGeneres,Alexander Gould,24.0,94000000.0,940335536.0,846335536.0,7.6,6292.0,PixarAnimationStudios,UnitedStatesofAmerica,"Nemo, an adventurous young clownfish, is unexp...",25.497794,100.0,True,2003-05-30,2003,tt0266543
13,Forrest Gump,True,50.537748,Comedy Drama Romance,Tom Hanks,Robin Wright,Gary Sinise,66.0,55000000.0,677945399.0,622945399.0,8.2,8147.0,ParamountPictures,UnitedStatesofAmerica,A man with a low IQ has accomplished great thi...,48.307194,142.0,True,1994-07-06,1994,tt0109830

In [3]:
df.shape

(7282, 22)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7282 entries, 5 to 443319
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title                 7282 non-null   object
 1   success               7282 non-null   bool
 2   success_rating        7282 non-null   float64
 3   genres                7282 non-null   object
 4   cast_actor_1          7282 non-null   object
 5   cast_actor_2          7282 non-null   object
 6   cast_actor_3          7282 non-null   object
 7   total_n_cast          7282 non-null   float64
 8   budget                7282 non-null   float64
 9   revenue               7282 non-null   float64
 10  profit_amount         7282 non-null   float64
 11  vote_average          7282 non-null   float64
 12  vote_count            7282 non-null   float64
 13  production_companies  7282 non-null   object
 14  production_countries  7282 non-null   object
 15  overview              7282 non-null   object
 16  popularity            7282 non-null   float64
 17  runtime               7282 non-null   float64
 18  profitable            7282 non-null   bool
 19  release_date          7282 non-null   datetime64[ns]
 20  release_year          7282 non-null   int64
 21  imdb_id               7282 non-null   object
dtypes: bool(2), datetime64[ns](1), float64(9), int64(1), object(9)
memory usage: 1.2+ MB

In [5]:
df.describe()

,success_rating,total_n_cast,budget,revenue,profit_amount,vote_average,vote_count,popularity,runtime,release_year
count,7282.000000,7282.000000,7.282000e+03,7.282000e+03,7.282000e+03,7282.00000,7282.000000,7282.000000,7282.000000,7282.000000
mean,9.566970,21.654491,2.551717e+07,6.987853e+07,4.436136e+07,6.23245,568.187449,8.621582,108.024718,1999.556441
std,21.569372,18.870119,3.570461e+07,1.474352e+08,1.231651e+08,0.98227,1113.367568,12.228099,21.065622,15.502220
min,0.000000,3.000000,1.020000e+06,1.000000e+00,-1.657101e+08,0.00000,0.000000,0.000001,0.000000,1915.000000
25%,0.875969,11.000000,8.000000e+06,2.612360e+06,-6.843298e+06,5.70000,44.000000,4.140868,94.000000,1992.000000
50%,4.133958,16.000000,8.000000e+06,1.733998e+07,4.000000e+06,6.30000,165.000000,7.506915,104.000000,2004.000000
75%,10.483487,25.000000,3.000000e+07,6.869919e+07,4.084713e+07,6.90000,551.750000,10.977723,118.000000,2011.000000
max,667.333333,313.000000,3.800000e+08,2.787965e+09,2.550965e+09,10.00000,14075.000000,547.488298,338.000000,2017.000000

In [6]:
df['success_rating'] = (df['revenue']/(df['budget'] * 2)) * df['vote_average']

In [7]:
df.head(5)

,title,success,success_rating,genres,cast_actor_1,cast_actor_2,cast_actor_3,total_n_cast,budget,revenue,profit_amount,vote_average,vote_count,production_companies,production_countries,overview,popularity,runtime,profitable,release_date,release_year,imdb_id
id,,,,,,,,,,,,,,,,,,,,,,
5,Four Rooms,False,3.493750,Crime Comedy,Tim Roth,Antonio Banderas,Jennifer Beals,24.0,4000000.0,4300000.0,300000.0,6.5,539.0,MiramaxFilms ABandApart,UnitedStatesofAmerica,It's Ted the Bellhop's first night on the job....,9.026586,98.0,False,1995-12-09,1995,tt0113101
6,Judgment Night,False,4.854775,Action Thriller Crime,Emilio Estevez,Cuba Gooding Jr.,Denis Leary,15.0,8000000.0,12136938.0,4136938.0,6.4,79.0,UniversalPictures LargoEntertainment JVCEntert...,Japan UnitedStatesofAmerica,"While racing to a boxing match, Frank, Mike, J...",5.538671,110.0,False,1993-10-15,1993,tt0107286
11,Star Wars,True,285.487448,Adventure Action Science Fiction,Mark Hamill,Harrison Ford,Carrie Fisher,106.0,11000000.0,775398007.0,764398007.0,8.1,6778.0,Lucasfilm TwentiethCenturyFoxFilmCorporation,UnitedStatesofAmerica,Princess Leia is captured and held hostage by ...,42.149697,121.0,True,1977-05-25,1977,tt0076759
12,Finding Nemo,True,38.013564,Animation Family,Albert Brooks,Ellen DeGeneres,Alexander Gould,24.0,94000000.0,940335536.0,846335536.0,7.6,6292.0,PixarAnimationStudios,UnitedStatesofAmerica,"Nemo, an adventurous young clownfish, is unexp...",25.497794,100.0,True,2003-05-30,2003,tt0266543
13,Forrest Gump,True,50.537748,Comedy Drama Romance,Tom Hanks,Robin Wright,Gary Sinise,66.0,55000000.0,677945399.0,622945399.0,8.2,8147.0,ParamountPictures,UnitedStatesofAmerica,A man with a low IQ has accomplished great thi...,48.307194,142.0,True,1994-07-06,1994,tt0109830

In [8]:
df.success_rating.describe()

count    7282.000000
mean        9.566970
std        21.569372
min         0.000000
25%         0.875969
50%         4.133958
75%        10.483487
max       667.333333
Name: success_rating, dtype: float64

In [9]:
df['success'] = df['success_rating'] > 6.5

In [10]:
df.sample(5)

,title,success,success_rating,genres,cast_actor_1,cast_actor_2,cast_actor_3,total_n_cast,budget,revenue,profit_amount,vote_average,vote_count,production_companies,production_countries,overview,popularity,runtime,profitable,release_date,release_year,imdb_id
id,,,,,,,,,,,,,,,,,,,,,,
942,Lethal Weapon 2,True,30.532434,Action Adventure Comedy Crime Thriller,Mel Gibson,Danny Glover,Joe Pesci,21.0,25000000.0,227853986.0,202853986.0,6.7,1066.0,SilverPictures WarnerBros.,UnitedStatesofAmerica,"In the opening chase, Martin Riggs and Roger M...",12.834276,114.0,True,1989-07-07,1989,tt0097733
70199,Dead of Winter,False,0.965371,Horror Thriller Crime Mystery,Mary Steenburgen,Roddy McDowall,Jan Rubes,12.0,8000000.0,2413427.0,-5586573.0,6.4,20.0,Metro-Goldwyn-Mayer(MGM),UnitedStatesofAmerica,A fledgling actress is lured to a remote mansi...,0.096403,100.0,False,1987-02-06,1987,tt0092842
1381,The Fountain,False,1.486761,Drama Adventure Science Fiction Romance,Hugh Jackman,Rachel Weisz,Ellen Burstyn,14.0,35000000.0,15304890.0,-19695110.0,6.8,852.0,RegencyEnterprises WarnerBros. MuseEntertainme...,UnitedStatesofAmerica,"Spanning over one thousand years, and three pa...",11.577121,96.0,False,2006-09-06,2006,tt0414993
61263,Illegal,False,0.000174,Drama,Anne Coesens,Alexandre Gontcharov,Milo Masset-Depasse,4.0,8000000.0,404.0,-7999596.0,6.9,9.0,HautetCourt Dharamsala Irisproductions,Belgium Luxembourg France,"Tania, a young Russian woman who lives illegal...",1.764981,90.0,False,2010-10-06,2010,tt1503777
3683,Flags of Our Fathers,False,2.452954,War Drama History,Ryan Phillippe,Adam Beach,Jesse Bradford,28.0,90000000.0,65900249.0,-24099751.0,6.7,532.0,DreamWorksSKG AmblinEntertainment MalpasoProdu...,UnitedStatesofAmerica,There were five Marines and one Navy Corpsman ...,9.224494,132.0,False,2006-10-18,2006,tt0418689