# Imports

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import gzip
import shutil
import os
import re

import acquire_nick as an
import prepare_nick as pn
import wrangle as w

# Make sure we can see the full scale of the data
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
df = w.wrangle_df()
df.head()

CSV not detected.
reading other CSVs

/Users/braedenwright/codeup-data-science/capstone-project/wrangle.py:6: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  df = prep_data(acquire_data())

,budget,genres,id,imdb_id,overview,popularity,production_companies,production_countries,revenue,runtime,title,vote_average,vote_count,cast_actor_1,cast_actor_2,cast_actor_3,total_n_cast,release_year,profitable
release_date,,,,,,,,,,,,,,,,,,,
1915-02-08,8000000.0,Drama History War,618,tt0004972,The Birth of A Nation is a silent film from 19...,5.113205,EpochFilmCo.,UnitedStatesofAmerica,11000000.0,193.0,The Birth of a Nation,6.4,109.0,Lillian Gish,Mae Marsh,Henry B. Walthall,49.0,1915,False
1915-12-13,8000000.0,Drama,70368,tt0005078,"A venal, spoiled stockbroker's wife impulsivel...",0.680407,JesseL.LaskyFeaturePlayCompany,UnitedStatesofAmerica,137365.0,59.0,The Cheat,4.8,11.0,Fannie Ward,Jack Dean,Sessue Hayakawa,11.0,1915,False
1916-12-24,8000000.0,Adventure Drama Action Science Fiction,30266,tt0006333,Captain Nemo has built a fantastic submarine f...,0.917777,TheUniversalFilmMfg.Co.,Bahamas UnitedStatesofAmerica,8000000.0,105.0,"20,000 Leagues Under the Sea",6.0,7.0,Lois Alexander,Curtis Benton,Wallace Clarke,13.0,1916,False
1918-08-01,8000000.0,Comedy Drama,54242,tt0009369,"Mickey, an orphan who has been brought up in a...",0.211008,MabelNormandFeatureFilmCompany,UnitedStatesofAmerica,8000000.0,93.0,Mickey,7.5,4.0,Mabel Normand,George Nichols,Wheeler Oakman,8.0,1918,False
1921-01-21,8000000.0,Comedy Drama,10098,tt0012349,Considered one of Charlie Chaplin's best films...,8.168456,CharlesChaplinProductions FirstNationalPictures,UnitedStatesofAmerica,2500000.0,68.0,The Kid,8.0,404.0,Charlie Chaplin,Jackie Coogan,Edna Purviance,35.0,1921,False

In [4]:
df.shape

(7282, 19)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 7282 entries, 1915-02-08 to 2017-08-11
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                7282 non-null   float64
 1   genres                7282 non-null   object
 2   id                    7282 non-null   int64
 3   imdb_id               7282 non-null   object
 4   overview              7282 non-null   object
 5   popularity            7282 non-null   float64
 6   production_companies  7282 non-null   object
 7   production_countries  7282 non-null   object
 8   revenue               7282 non-null   float64
 9   runtime               7282 non-null   float64
 10  title                 7282 non-null   object
 11  vote_average          7282 non-null   float64
 12  vote_count            7282 non-null   float64
 13  cast_actor_1          7282 non-null   object
 14  cast_actor_2          7282 non-null   object
 15  cast_actor_3          7282 non-null   object
 16  total_n_cast          7282 non-null   float64
 17  release_year          7282 non-null   int64
 18  profitable            7282 non-null   bool
dtypes: bool(1), float64(7), int64(2), object(9)
memory usage: 1.1+ MB

In [6]:
df.describe()

,budget,id,popularity,revenue,runtime,vote_average,vote_count,total_n_cast,release_year
count,7.282000e+03,7282.000000,7282.000000,7.282000e+03,7282.000000,7282.00000,7282.000000,7282.000000,7282.000000
mean,2.551717e+07,66193.977067,8.621582,6.987853e+07,108.024718,6.23245,568.187449,21.654491,1999.556441
std,3.570461e+07,98642.686102,12.228099,1.474352e+08,21.065622,0.98227,1113.367568,18.870119,15.502220
min,1.020000e+06,5.000000,0.000001,1.000000e+00,0.000000,0.00000,0.000000,3.000000,1915.000000
25%,8.000000e+06,9553.000000,4.140868,2.612360e+06,94.000000,5.70000,44.000000,11.000000,1992.000000
50%,8.000000e+06,18652.500000,7.506915,1.733998e+07,104.000000,6.30000,165.000000,16.000000,2004.000000
75%,3.000000e+07,70138.500000,10.977723,6.869919e+07,118.000000,6.90000,551.750000,25.000000,2011.000000
max,3.800000e+08,443319.000000,547.488298,2.787965e+09,338.000000,10.00000,14075.000000,313.000000,2017.000000

In [10]:
df['success_rating'] = (df['revenue']/(df['budget'] * 2)) * df['vote_average']

In [12]:
df.head(10)

,budget,genres,id,imdb_id,overview,popularity,production_companies,production_countries,revenue,runtime,title,vote_average,vote_count,cast_actor_1,cast_actor_2,cast_actor_3,total_n_cast,release_year,profitable,success_rating
release_date,,,,,,,,,,,,,,,,,,,,
1915-02-08,8000000.0,Drama History War,618,tt0004972,The Birth of A Nation is a silent film from 19...,5.113205,EpochFilmCo.,UnitedStatesofAmerica,11000000.0,193.0,The Birth of a Nation,6.4,109.0,Lillian Gish,Mae Marsh,Henry B. Walthall,49.0,1915,False,4.400000e+00
1915-12-13,8000000.0,Drama,70368,tt0005078,"A venal, spoiled stockbroker's wife impulsivel...",0.680407,JesseL.LaskyFeaturePlayCompany,UnitedStatesofAmerica,137365.0,59.0,The Cheat,4.8,11.0,Fannie Ward,Jack Dean,Sessue Hayakawa,11.0,1915,False,4.120950e-02
1916-12-24,8000000.0,Adventure Drama Action Science Fiction,30266,tt0006333,Captain Nemo has built a fantastic submarine f...,0.917777,TheUniversalFilmMfg.Co.,Bahamas UnitedStatesofAmerica,8000000.0,105.0,"20,000 Leagues Under the Sea",6.0,7.0,Lois Alexander,Curtis Benton,Wallace Clarke,13.0,1916,False,3.000000e+00
1918-08-01,8000000.0,Comedy Drama,54242,tt0009369,"Mickey, an orphan who has been brought up in a...",0.211008,MabelNormandFeatureFilmCompany,UnitedStatesofAmerica,8000000.0,93.0,Mickey,7.5,4.0,Mabel Normand,George Nichols,Wheeler Oakman,8.0,1918,False,3.750000e+00
1921-01-21,8000000.0,Comedy Drama,10098,tt0012349,Considered one of Charlie Chaplin's best films...,8.168456,CharlesChaplinProductions FirstNationalPictures,UnitedStatesofAmerica,2500000.0,68.0,The Kid,8.0,404.0,Charlie Chaplin,Jackie Coogan,Edna Purviance,35.0,1921,False,1.250000e+00
1922-01-11,1100000.0,Drama,35227,tt0013140,Actor / writer / director Erich von Stroheim s...,0.838095,UniversalFilmManufacturingCompany,UnitedStatesofAmerica,400200.0,117.0,Foolish Wives,6.4,10.0,Rudolph Christians,Miss DuPont,Maude George,20.0,1922,False,1.164218e+00
1923-04-01,8000000.0,Comedy Romance,22596,tt0014429,When a store clerk organizes a contest to clim...,4.394823,HalRoachStudios,UnitedStatesofAmerica,623.0,70.0,Safety Last!,7.7,76.0,Harold Lloyd,Mildred Davis,Bill Strother,23.0,1923,False,2.998187e-04
1924-03-18,1135654.0,Action Adventure Drama Family Fantasy,28963,tt0015400,A recalcitrant thief vies with a duplicitous M...,3.878515,DouglasFairbanksPictures,UnitedStatesofAmerica,1213880.0,149.0,The Thief of Bagdad,7.4,37.0,Douglas Fairbanks,Snitz Edwards,Charles Belcher,21.0,1924,False,3.954863e+00
1925-06-25,8000000.0,Adventure Comedy Drama,962,tt0015864,A lone prospector ventures into Alaska looking...,6.202041,CharlesChaplinProductions,UnitedStatesofAmerica,2500000.0,95.0,The Gold Rush,7.7,308.0,Charlie Chaplin,Georgia Hale,Mack Swain,40.0,1925,False,1.203125e+00
1925-08-26,8000000.0,Romance Drama,53230,tt0016104,Prince Danilo falls in love with dancer Sally ...,0.286719,Metro-Goldwyn-Mayer(MGM) AnErichvonStroheimPro...,UnitedStatesofAmerica,1.0,137.0,The Merry Widow,6.5,6.0,Mae Murray,Roy D'Arcy,John Gilbert,8.0,1925,False,4.062500e-07

In [13]:
df.success_rating.describe()

count    7282.000000
mean        9.566970
std        21.569372
min         0.000000
25%         0.875969
50%         4.133958
75%        10.483487
max       667.333333
Name: success_rating, dtype: float64

In [14]:
df['success'] = df['success_rating'] > 6.5

In [17]:
df.sample(5)

,budget,genres,id,imdb_id,overview,popularity,production_companies,production_countries,revenue,runtime,title,vote_average,vote_count,cast_actor_1,cast_actor_2,cast_actor_3,total_n_cast,release_year,profitable,success_rating,success
release_date,,,,,,,,,,,,,,,,,,,,,
1981-09-16,14000000.0,Action Drama History War Adventure,387,tt0082096,A German submarine hunts allied ships during t...,8.803380,RadiantFilmGmbH SüddeutscherRundfunk ColumbiaP...,Germany,85000000.0,149.0,Das Boot,7.9,623.0,Jürgen Prochnow,Herbert Grönemeyer,Klaus Wennemann,29.0,1981,True,23.982143,True
2007-09-21,25000000.0,Comedy,10030,tt0452625,"Cursed since childhood, dentist Charlie Kagan ...",7.456047,Lionsgate KarzEntertainment ProvinceofBritishC...,Canada UnitedStatesofAmerica,59192128.0,101.0,Good Luck Chuck,5.6,454.0,Dane Cook,Jessica Alba,Dan Fogler,25.0,2007,True,6.629518,True
2009-08-04,175000000.0,Adventure Action Thriller Science Fiction,14869,tt1046173,From the Egyptian desert to deep below the pol...,11.787058,ParamountPictures SpyglassEntertainment DiBona...,CzechRepublic UnitedStatesofAmerica,302469017.0,118.0,G.I. Joe: The Rise of Cobra,5.6,1988.0,Dennis Quaid,Channing Tatum,Marlon Wayans,23.0,2009,False,4.839504,False
2007-04-19,8000000.0,Comedy Drama Fantasy,33714,tt1046198,Many people assume that life does not end afte...,0.594488,CentralPartnership MGMedia,Russia,404785.0,112.0,I'm Staying,5.8,6.0,Andrey Krasko,Fyodor Bondarchuk,Andrey Sokolov,12.0,2007,False,0.146735,False
1992-04-03,8000000.0,Comedy Drama,10403,tt0105151,A Hollywood studio executive is being sent dea...,6.230854,FineLineFeatures AvenuePicturesProductions Spe...,UnitedStatesofAmerica,21706101.0,124.0,The Player,6.9,169.0,Tim Robbins,Greta Scacchi,Fred Ward,70.0,1992,True,9.360756,True