In [16]:
import wrangle as w 
import pandas as pd
import numpy as np
import scipy as sc
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.tree import export_text
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import recall_score, precision_score, f1_score, accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression

In [17]:
df = w.wrangle_df()

Using cached CSV

In [ ]:
df

In [27]:
excess = df[df['success_rating'] >= 10]

In [28]:
excess.shape

(1916, 22)

In [29]:
df.shape

(7282, 22)

In [30]:
1916/7282

0.26311452897555615

In [32]:
excess['success_rating'].sample(60)

id
18402      18.130332
923        25.437500
5780       13.866667
32275      10.540000
9036       10.088189
105        80.233634
19114      10.153961
19997      22.780000
10414      16.240748
124905     10.085513
11862      27.281237
1597       19.826643
388        14.954963
14412      10.676109
874        27.259615
16804      33.654961
8408       33.514286
7300       37.183141
381284     35.989011
9569       13.274800
869        10.141929
72570      22.880033
299245     13.065976
9470       18.164600
329865     15.578670
31357      15.526817
297761     12.568687
85038      16.333333
251        79.193182
1687       15.559620
10693      76.479070
12919      58.855467
7942       10.230000
11449      33.492400
954        19.166035
9816       22.059275
435        13.497956
16620      28.358833
40807      17.144655
114       115.750000
10222      30.863710
97630      11.123735
76338      12.891428
3981       16.300582
6844       35.394231
2928       41.153132
156022     12.414075
9062      204.600000
11646      13.892333
68721      20.662480
9659       41.250000
11686      25.217177
9340       11.976942
27932      43.083333
7979       13.372879
1051       84.604112
7326      107.992073
378        17.508168
679        38.149641
224141     11.922533
Name: success_rating, dtype: float64

In [50]:
df['success_rating4'] = (df['revenue']/(df['budget'] * 1.2)) * (df['vote_average']/10)

In [ ]:
for index, row in df.iterrows():
        try:
            budget = df.at[index, 'budget']
            revenue = df.at[index, 'revenue']
            if (revenue >= budget * 2):
                profitable = True
            else:
                profitable = False
        except:     # if budget or revenue is empty
            profitable = np.nan

In [37]:
df['success'] = df['success_rating'] > 6.5

In [41]:
df.success_rating2.max()

6.673333333333334

In [43]:
df.success_rating3.min()

0.0

In [44]:
df.success_rating3.max()

6.673333333333334

In [45]:
df.profitable.value_counts()

False    4351
True     2931
Name: profitable, dtype: int64

In [51]:
df.success_rating4.value_counts()

0.000000     22
1.200000      4
0.800000      4
0.500000      3
0.155556      2
             ..
4.417106      1
18.643269     1
0.009862      1
4.620417      1
0.610714      1
Name: success_rating4, Length: 7217, dtype: int64

In [52]:
df.success_rating.describe()

count    7282.000000
mean        9.566970
std        21.569372
min         0.000000
25%         0.875969
50%         4.133958
75%        10.483487
max       667.333333
Name: success_rating, dtype: float64

In [54]:
success.value_counts()

False    4482
True     2800
Name: success, dtype: int64

In [60]:
df['success'] = df['success']*1

In [62]:
df['profitable'] = df['profitable']*1

In [63]:
df.profitable.value_counts()

0    4351
1    2931
Name: profitable, dtype: int64

In [57]:
success = success*1

In [58]:
success

id
5         0
6         0
11        1
12        1
13        1
         ..
433356    0
434119    1
437031    0
440642    0
443319    0
Name: success, Length: 7282, dtype: int64

In [59]:
df

,title,success,success_rating,genres,cast_actor_1,cast_actor_2,cast_actor_3,total_n_cast,budget,revenue,...,overview,popularity,runtime,profitable,release_date,release_year,imdb_id,success_rating2,success_rating3,success_rating4
id,,,,,,,,,,,,,,,,,,,,,
5,Four Rooms,False,3.493750,Crime Comedy,Tim Roth,Antonio Banderas,Jennifer Beals,24.0,4000000.0,4300000.0,...,It's Ted the Bellhop's first night on the job...and the hotel's very unusual guests are about to place him in some outrageous predicaments. It seems that this evening's room service is serving up one unbelievable happening after another.,9.026586,98.0,False,1995-12-09,1995,tt0113101,0.034937,0.034937,0.582292
6,Judgment Night,False,4.854775,Action Thriller Crime,Emilio Estevez,Cuba Gooding Jr.,Denis Leary,15.0,8000000.0,12136938.0,...,"While racing to a boxing match, Frank, Mike, John and Rey get more than they bargained for. A wrong turn lands them directly in the path of Fallon, a vicious, wise-cracking drug lord. After accidentally witnessing Fallon murder a disloyal henchman, the four become his unwilling prey in a savage game of cat &amp; mouse as they are mercilessly stalked through the urban jungle in this taut suspense drama",5.538671,110.0,False,1993-10-15,1993,tt0107286,0.048548,0.048548,0.809129
11,Star Wars,True,285.487448,Adventure Action Science Fiction,Mark Hamill,Harrison Ford,Carrie Fisher,106.0,11000000.0,775398007.0,...,Princess Leia is captured and held hostage by the evil Imperial forces in their effort to take over the galactic Empire. Venturesome Luke Skywalker and dashing captain Han Solo team together with the loveable robot duo R2-D2 and C-3PO to rescue the beautiful princess and restore peace and justice in the Empire.,42.149697,121.0,True,1977-05-25,1977,tt0076759,2.854874,2.854874,47.581241
12,Finding Nemo,True,38.013564,Animation Family,Albert Brooks,Ellen DeGeneres,Alexander Gould,24.0,94000000.0,940335536.0,...,"Nemo, an adventurous young clownfish, is unexpectedly taken from his Great Barrier Reef home to a dentist's office aquarium. It's up to his worrisome father Marlin and a friendly but forgetful fish Dory to bring Nemo home -- meeting vegetarian sharks, surfer dude turtles, hypnotic jellyfish, hungry seagulls, and more along the way.",25.497794,100.0,True,2003-05-30,2003,tt0266543,0.380136,0.380136,6.335594
13,Forrest Gump,True,50.537748,Comedy Drama Romance,Tom Hanks,Robin Wright,Gary Sinise,66.0,55000000.0,677945399.0,...,"A man with a low IQ has accomplished great things in his life and been present during significant historic events - in each case, far exceeding what anyone imagined he could do. Yet, despite all the things he has attained, his one true love eludes him. 'Forrest Gump' is the story of a man who rose above his challenges, and who proved that determination, courage, and love are more important than ability.",48.307194,142.0,True,1994-07-06,1994,tt0109830,0.505377,0.505377,8.422958
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
433356,The Ottoman Lieutenant,False,0.019579,Romance Drama War,Michiel Huisman,Hera Hilmar,Josh Hartnett,24.0,40000000.0,240978.0,...,"Lillie, a determined American woman, ventures overseas to join Dr. Jude at a remote medical mission in the Ottoman Empire (now Turkey). However, Lillie soon finds herself at odds with Jude and the mission’s founder, Woodruff, when she falls for the titular military man, Ismail, just as the war is about to erupt.",13.256679,111.0,False,2017-03-10,2017,tt4943322,0.000196,0.000196,0.003263
434119,Confidential Assignment,True,20.411972,Action Drama Comedy,Hyun Bin,Yoo Hae-jin,Kim Joo-hyuk,7.0,8520000.0,56100000.0,...,"When a crime organization from North Korea crosses borders and enters South Korean soil, a South Korean detective must cooperate with a North Korean detective to investigate their whereabouts.",1.758590,125.0,True,2017-01-18,2017,tt5606538,0.204120,0.204120,3.401995
437031,Rescue Under Fire,False,1.906250,War,Ariadna Gil,Roberto Álamo,Antonio Garrido,13.0,8000000.0,5000000.0,...,"The crew of a medical helicopter suffers an accident when helping a joint force of USA and United Nations troops under Spanish command division in Afghanistan. The Spanish army has only one night to organize the rescue of the crew and injured, but what seems routine turns into hell once they receive the order to rescue the helicopter as well. Things only get worse when during the night a huge a concentration of Talibans begin surround them.",33.536359,93.0,False,2017-03-10,2017,tt5456104,0.019062,0.019062,0.317708
440642,The Spacewalker,False,5.161115,Adventure Drama History,Evgeny Mironov,Konstantin Khabenskiy,Vladimir Ilin,5.0,7075038.0,9868942.0,...,"March 1965. In the heat of the Cold War, the USA and the USSR are competing for supremacy in space. What both superpowers aim for in this race, is to be the first to have a man walk in outer space. To accomplish that, no price is too high and no risk is too great. Now it’s up to the unlikely duo of a seasoned war veteran and a hot-headed test-pilot to fulfill this mission. Two men in a tiny spaceship, without proper testing, facing the complete unknown… They were supposed to do what no man has done before – and no man imagined what would happen next…",10.181000,140.0,False,2017-04-12,2017,tt6673840,0.051611,0.051611,0.860186
443319,Phoenix Forgotten,False,3.664286,Horror Mystery Science Fiction,Florence Hartigan,Jeanine Jackson,Chelsea Lopez,10.0,2800000.0,3600000.0,...,"20 years after three teenagers disappeared in the wake of mysterious lights appearing above Phoenix, Arizona, unseen footage from that night has been discovered, chronicling the final hours of their fateful expedition.",12.560942,80.0,False,2017-04-21,2017,tt6574272,0.036643,0.036643,0.610714