In [1]:
import pandas as pd
import numpy as np
import os
import acquire_nick as get
import prepare_nick as prep
import re
import wrangle as w

In [5]:
df = w.wrangle_df()

Using cached CSV

In [9]:
df.columns

Index(['id', 'title', 'success', 'success_rating', 'genres', 'cast_actor_1',
       'cast_actor_2', 'cast_actor_3', 'total_n_cast', 'budget', 'revenue',
       'profit_amount', 'vote_average', 'vote_count', 'production_companies',
       'production_countries', 'overview', 'popularity', 'runtime',
       'profitable', 'release_date', 'release_year', 'imdb_id'],
      dtype='object')

In [10]:
df.shape

(7282, 23)

In [16]:
df.to_csv('cleaner.csv', index=False, index_label='id')

In [17]:
pd.read_csv('cleaner.csv')

,id,title,success,success_rating,genres,cast_actor_1,cast_actor_2,cast_actor_3,total_n_cast,budget,...,vote_count,production_companies,production_countries,overview,popularity,runtime,profitable,release_date,release_year,imdb_id
0,5,Four Rooms,False,3.493750,Crime Comedy,Tim Roth,Antonio Banderas,Jennifer Beals,24.0,4000000.0,...,539.0,MiramaxFilms ABandApart,UnitedStatesofAmerica,It's Ted the Bellhop's first night on the job...and the hotel's very unusual guests are about to place him in some outrageous predicaments. It seems that this evening's room service is serving up one unbelievable happening after another.,9.026586,98.0,False,1995-12-09,1995,tt0113101
1,6,Judgment Night,False,4.854775,Action Thriller Crime,Emilio Estevez,Cuba Gooding Jr.,Denis Leary,15.0,8000000.0,...,79.0,UniversalPictures LargoEntertainment JVCEntertainmentNetworks,Japan UnitedStatesofAmerica,"While racing to a boxing match, Frank, Mike, John and Rey get more than they bargained for. A wrong turn lands them directly in the path of Fallon, a vicious, wise-cracking drug lord. After accidentally witnessing Fallon murder a disloyal henchman, the four become his unwilling prey in a savage game of cat &amp; mouse as they are mercilessly stalked through the urban jungle in this taut suspense drama",5.538671,110.0,False,1993-10-15,1993,tt0107286
2,11,Star Wars,True,285.487448,Adventure Action Science Fiction,Mark Hamill,Harrison Ford,Carrie Fisher,106.0,11000000.0,...,6778.0,Lucasfilm TwentiethCenturyFoxFilmCorporation,UnitedStatesofAmerica,Princess Leia is captured and held hostage by the evil Imperial forces in their effort to take over the galactic Empire. Venturesome Luke Skywalker and dashing captain Han Solo team together with the loveable robot duo R2-D2 and C-3PO to rescue the beautiful princess and restore peace and justice in the Empire.,42.149697,121.0,True,1977-05-25,1977,tt0076759
3,12,Finding Nemo,True,38.013564,Animation Family,Albert Brooks,Ellen DeGeneres,Alexander Gould,24.0,94000000.0,...,6292.0,PixarAnimationStudios,UnitedStatesofAmerica,"Nemo, an adventurous young clownfish, is unexpectedly taken from his Great Barrier Reef home to a dentist's office aquarium. It's up to his worrisome father Marlin and a friendly but forgetful fish Dory to bring Nemo home -- meeting vegetarian sharks, surfer dude turtles, hypnotic jellyfish, hungry seagulls, and more along the way.",25.497794,100.0,True,2003-05-30,2003,tt0266543
4,13,Forrest Gump,True,50.537748,Comedy Drama Romance,Tom Hanks,Robin Wright,Gary Sinise,66.0,55000000.0,...,8147.0,ParamountPictures,UnitedStatesofAmerica,"A man with a low IQ has accomplished great things in his life and been present during significant historic events - in each case, far exceeding what anyone imagined he could do. Yet, despite all the things he has attained, his one true love eludes him. 'Forrest Gump' is the story of a man who rose above his challenges, and who proved that determination, courage, and love are more important than ability.",48.307194,142.0,True,1994-07-06,1994,tt0109830
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7277,433356,The Ottoman Lieutenant,False,0.019579,Romance Drama War,Michiel Huisman,Hera Hilmar,Josh Hartnett,24.0,40000000.0,...,38.0,EasternSunriseFilms,Turkey UnitedStatesofAmerica,"Lillie, a determined American woman, ventures overseas to join Dr. Jude at a remote medical mission in the Ottoman Empire (now Turkey). However, Lillie soon finds herself at odds with Jude and the mission’s founder, Woodruff, when she falls for the titular military man, Ismail, just as the war is about to erupt.",13.256679,111.0,False,2017-03-10,2017,tt4943322
7278,434119,Confidential Assignment,True,20.411972,Action Drama Comedy,Hyun Bin,Yoo Hae-jin,Kim Joo-hyuk,7.0,8520000.0,...,5.0,CJEntertainment,SouthKorea,"When a crime organization from North Korea crosses borders and enters South Korean soil, a South Korean detective must cooperate with a North Korean detective to investigate their whereabouts.",1.758590,125.0,True,2017-01-18,2017,tt5606538
7279,437031,Rescue Under Fire,False,1.906250,War,Ariadna Gil,Roberto Álamo,Antonio Garrido,13.0,8000000.0,...,17.0,TornasolFilms CastafioreFilms RadioTelevisiónEspañola(RTVE) HernándezyFernándezProduccionesCinematográficas Movistar+,Spain,"The crew of a medical helicopter suffers an accident when helping a joint force of USA and United Nations troops under Spanish command division in Afghanistan. The Spanish army has only one night to organize the rescue of the crew and injured, but what seems routine turns into hell once they receive the order to rescue the helicopter as well. Things only get worse when during the night a huge a concentration of Talibans begin surround them.",33.536359,93.0,False,2017-03-10,2017,tt5456104
7280,440642,The Spacewalker,False,5.161115,Adventure Drama History,Evgeny Mironov,Konstantin Khabenskiy,Vladimir Ilin,5.0,7075038.0,...,20.0,BazelevsProduction,Russia,"March 1965. In the heat of the Cold War, the USA and the USSR are competing for supremacy in space. What both superpowers aim for in this race, is to be the first to have a man walk in outer space. To accomplish that, no price is too high and no risk is too great. Now it’s up to the unlikely duo of a seasoned war veteran and a hot-headed test-pilot to fulfill this mission. Two men in a tiny spaceship, without proper testing, facing the complete unknown… They were supposed to do what no man has done before – and no man imagined what would happen next…",10.181000,140.0,False,2017-04-12,2017,tt6673840
7281,443319,Phoenix Forgotten,False,3.664286,Horror Mystery Science Fiction,Florence Hartigan,Jeanine Jackson,Chelsea Lopez,10.0,2800000.0,...,52.0,ScottFreeProductions CinelouFilms,UnitedStatesofAmerica,"20 years after three teenagers disappeared in the wake of mysterious lights appearing above Phoenix, Arizona, unseen footage from that night has been discovered, chronicling the final hours of their fateful expedition.",12.560942,80.0,False,2017-04-21,2017,tt6574272