# Movie Ratings Capstome

#### Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import prepare_stephen
import datetime

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler

import warnings
warnings.filterwarnings('ignore')

### Get Raw dirty data https://www.kaggle.com/datasets/rounakbanik/the-movies-dataset?select=links.csv

In [2]:
raw = prepare_stephen.get_dirty_data()

Using cached CSV

In [3]:
raw.head(2)

,Unnamed: 0,cast,crew,id,title,genres,budget,overview,popularity,production_companies,production_countries,revenue,runtime,vote_average,vote_count,keywords,release_date
0,0,TomHanks TimAllen DonRickles JimVarney Wallace...,JohnLasseter JossWhedon AndrewStanton JoelCohe...,862,Toy Story,Animation Comedy Family,30000000,"Led by Woody, Andy's toys live happily in his ...",21.946943,PixarAnimationStudios,UnitedStatesofAmerica,373554033.0,81.0,7.7,5415.0,jealousy toy boy friendship friends rivalry bo...,1995-10-30
1,1,RobinWilliams JonathanHyde KirstenDunst Bradle...,LarryJ.Franco JonathanHensleigh JamesHorner Jo...,8844,Jumanji,Adventure Fantasy Family,65000000,When siblings Judy and Peter discover an encha...,17.015539,TriStarPictures TeitlerFilm InterscopeCommunic...,UnitedStatesofAmerica,262797249.0,104.0,6.9,2413.0,board game disappearance based on children's b...,1995-12-15

In [4]:
raw.shape

(7457, 17)

In [5]:
after_2000 = raw[raw.release_date > '2000-01-01']

In [6]:
after_2000.shape

(4586, 17)

#### Initial Data Check

In [7]:
# Nulls by Column

prepare_stephen.nulls_by_columns(raw)

                      count   percent
Unnamed: 0                0  0.000000
cast                     34  0.004559
crew                     13  0.001743
id                        0  0.000000
title                     0  0.000000
genres                   23  0.003084
budget                    0  0.000000
overview                 22  0.002950
popularity                0  0.000000
production_companies    418  0.056055
production_countries    156  0.020920
revenue                   0  0.000000
runtime                   6  0.000805
vote_average              0  0.000000
vote_count                0  0.000000
keywords                683  0.091592
release_date              1  0.000134

In [8]:
# nulls by Rows

prepare_stephen.nulls_by_rows(raw)

n_missing  percent_missing
0          0.000000           6502
1          0.058824            684
2          0.117647            175
3          0.176471             73
4          0.235294             16
5          0.294118              3
6          0.352941              4
dtype: int64

In [9]:
# Summary 

prepare_stephen.data_summary(raw)

--- Shape: (7457, 17)
--- Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7457 entries, 0 to 7456
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            7457 non-null   int64
 1   cast                  7423 non-null   object
 2   crew                  7444 non-null   object
 3   id                    7457 non-null   int64
 4   title                 7457 non-null   object
 5   genres                7434 non-null   object
 6   budget                7457 non-null   int64
 7   overview              7435 non-null   object
 8   popularity            7457 non-null   float64
 9   production_companies  7039 non-null   object
 10  production_countries  7301 non-null   object
 11  revenue               7457 non-null   float64
 12  runtime               7451 non-null   float64
 13  vote_average          7457 non-null   float64
 14  vote_count            7457 non-null   float64
 15  keywords              6774 non-null   object
 16  release_date          7456 non-null   object
dtypes: float64(5), int64(3), object(9)
memory usage: 990.5+ KB
--- Column Descriptions
         Unnamed: 0                                               cast  \
count   7457.000000                                               7423
unique          NaN                                               7352
top             NaN  AbhishekBachchan AishwaryaRaiBachchan Govinda ...
freq            NaN                                                  2
mean    3728.000000                                                NaN
std     2152.794811                                                NaN
min        0.000000                                                NaN
25%     1864.000000                                                NaN
50%     3728.000000                                                NaN
75%     5592.000000                                                NaN
max     7456.000000                                                NaN

               crew             id  title genres        budget  \
count          7444    7457.000000   7457   7434  7.457000e+03
unique         7358            NaN   7232   1516           NaN
top     JanVerheyen            NaN  Ghost  Drama           NaN
freq              3            NaN      4    620           NaN
mean            NaN   68737.286710    NaN    NaN  2.255199e+07
std             NaN  100784.924482    NaN    NaN  3.692549e+07
min             NaN       5.000000    NaN    NaN  0.000000e+00
25%             NaN    9631.000000    NaN    NaN  0.000000e+00
50%             NaN   19877.000000    NaN    NaN  7.500000e+06
75%             NaN   73686.000000    NaN    NaN  2.800000e+07
max             NaN  443319.000000    NaN    NaN  3.800000e+08

                                                 overview   popularity  \
count                                                7435  7457.000000
unique                                               7365          NaN
top     This thrilling, allegorical drama follows the ...          NaN
freq                                                    2          NaN
mean                                                  NaN     8.492053
std                                                   NaN    12.134233
min                                                   NaN     0.000001
25%                                                   NaN     3.902990
50%                                                   NaN     7.412826
75%                                                   NaN    10.901355
max                                                   NaN   547.488298

       production_companies   production_countries       revenue      runtime  \
count                  7039                   7301  7.457000e+03  7451.000000
unique                 5537                    651           NaN          NaN
top       ParamountPictures  UnitedStatesofAmerica           NaN          NaN
freq                    122                   4366           NaN          NaN
mean                    NaN                    NaN  6.876058e+07   107.790498
std                     NaN                    NaN  1.465610e+08    21.491162
min                     NaN                    NaN  1.000000e+00     0.000000
25%                     NaN                    NaN  2.395231e+06    94.000000
50%                     NaN                    NaN  1.668084e+07   104.000000
75%                     NaN                    NaN  6.700000e+07   118.000000
max                     NaN                    NaN  2.787965e+09   338.000000

        vote_average    vote_count          keywords release_date
count    7457.000000   7457.000000              6774         7456
unique           NaN           NaN              6488         4698
top              NaN           NaN  independent film   2010-09-10
freq             NaN           NaN                56           10
mean        6.216428    558.732064               NaN          NaN
std         1.028610   1104.858712               NaN          NaN
min         0.000000      0.000000               NaN          NaN
25%         5.700000     40.000000               NaN          NaN
50%         6.300000    159.000000               NaN          NaN
75%         6.900000    542.000000               NaN          NaN
max        10.000000  14075.000000               NaN          NaN

# Prepare Data

> ### Get prepared data
> - Handle missing values (Drop / fill by mean|mode)
> - Encode categorical data
> - Columns content split required:
    - cast
    - crew
    - production_companies
    - production_countries
> - Rename columns to ease readability
> - Drop duplicates & unnecessary columns
> - Convert release_date column from object data type to datetime format and index date
> - Data scaling
> - Feature engineering
> - Split the data into train, validate, test
> - 
> -

> ### Split the data

In [10]:
train, validate, test = prepare_stephen.wrangle_movies_data(raw)

In [11]:
print(f'DataFrame Shapes\n\tTrain {train.shape}, Validate: {validate.shape}, Test: {test.shape}')

DataFrame Shapes
	Train (2568, 15), Validate: (1101, 15), Test: (918, 15)

# Explore Data

> ### Use train set

In [12]:
train.head(2)

,id,cast,crew,title,genres,budget,overview,popularity,production_companies,production_countries,revenue,runtime,vote_average,vote_count,keywords
release_date,,,,,,,,,,,,,,,
2017-06-01,268531,kevinhart edhelms thomasmiddleditch nickkroll ...,nicholasstoller davpilkey davidsoren robletterman,captain underpants: the first epic movie,action animation comedy family,38000000,two mischievous kids hypnotize their mean elem...,88.561239,dreamworksanimation scholasticentertainment,unitedstatesofamerica,110824373.0,89.0,6.5,159.0,underwear school principal grade school
2016-10-21,374473,davejohns hayleysquires dylanmckiernan brianas...,kenloach robbieryan jonathanmorris philippelog...,"i, daniel blake",drama,0,"a middle aged carpenter, who requires state we...",18.577504,whynotproductions wildbunch lesfilmsdufleuve b...,belgium france unitedkingdom,260354.0,100.0,7.7,264.0,heart attack single mother compassion carpente...

In [13]:
train.production_countries

release_date
2017-06-01                   unitedstatesofamerica
2016-10-21            belgium france unitedkingdom
2012-07-03                                 germany
2009-09-09                   unitedstatesofamerica
2013-03-01                   unitedstatesofamerica
                              ...
2008-04-30                   unitedstatesofamerica
2013-01-18                   unitedstatesofamerica
2009-10-15    hongkong japan unitedstatesofamerica
2004-10-22     unitedkingdom unitedstatesofamerica
2014-08-29                                   india
Name: production_countries, Length: 2568, dtype: object

> ### Univariate Exploration

> ### Bi-Variate Exploration

> ### Multi-Variate Exploration

> ### Visualizations

> ### Hypothesis testing

> ### Key exploration take-aways

# Modeling

### Test Model

## Conclusion & Recommendations