# Finding the Hollywood Formula, Movie Dataset Analysis

### Project Goal: 

What is the movie formula? A statistical analysis approach  to predicting successful movie.

### Stakeholders: 
Movie directors and general public

#### Get all import libraries

In [11]:
import libraries as lib
pd.options.display.max_colwidth = 25
pd.options.display.max_seq_items = 25

# Planning 
See Planning section of the final_report.py
https://github.com/Movie-Success-Capstone/Movie-Capstone/blob/main/Final/final_report.ipynb

# Data Acquisition

In [12]:
# Call the acquire function & cache the files locally
df = lib.fa.wrangle_df()

Using cached CSV

# Data Preparation

The following preparation process were performed on our dataset:

-

In [13]:
#### Check for nulls

df.isna().any()

title                   False
success                 False
success_rating          False
genres                   True
cast_actor_1            False
cast_actor_2            False
cast_actor_3            False
total_n_cast            False
budget                  False
revenue                 False
profit_amount           False
vote_average            False
vote_count              False
production_companies    False
production_countries    False
overview                False
popularity              False
runtime                 False
profitable              False
release_date            False
release_year            False
imdb_id                 False
production_company      False
is_genre_adventure      False
is_genre_horror         False
is_genre_drama          False
is_genre_scifi          False
is_genre_romance        False
is_genre_thriller       False
is_genre_crime          False
is_genre_comedy         False
is_genre_animation      False
is_genre_action         False
is_genre_mystery        False
is_genre_fantasy        False
is_genre_documentary    False
dtype: bool

In [17]:
# Nulls by rows 

lib.fa.nulls_by_col(df)

                 percent_cols_missing    id
num_cols_missing
1                  2.7777777777777777     2
0                                 0.0  6891

In [18]:
# Nulls by rows 
lib.fa.nulls_by_row(df)

                     num_rows_missing percent_rows_missing
genres                            2.0                  0.0
title                             0.0                  0.0
is_genre_romance                  0.0                  0.0
imdb_id                           0.0                  0.0
production_company                0.0                  0.0
is_genre_adventure                0.0                  0.0
is_genre_horror                   0.0                  0.0
is_genre_drama                    0.0                  0.0
is_genre_scifi                    0.0                  0.0
is_genre_thriller                 0.0                  0.0
release_date                      0.0                  0.0
is_genre_crime                    0.0                  0.0
is_genre_comedy                   0.0                  0.0
is_genre_animation                0.0                  0.0
is_genre_action                   0.0                  0.0
is_genre_mystery                  0.0                  0.0
is_genre_fantasy                  0.0                  0.0
release_year                      0.0                  0.0
profitable                        0.0                  0.0
success                           0.0                  0.0
revenue                           0.0                  0.0
success_rating                    0.0                  0.0
cast_actor_1                      0.0                  0.0
cast_actor_2                      0.0                  0.0
cast_actor_3                      0.0                  0.0
total_n_cast                      0.0                  0.0
budget                            0.0                  0.0
profit_amount                     0.0                  0.0
runtime                           0.0                  0.0
vote_average                      0.0                  0.0
vote_count                        0.0                  0.0
production_companies              0.0                  0.0
production_countries              0.0                  0.0
overview                          0.0                  0.0
popularity                        0.0                  0.0
is_genre_documentary              0.0                  0.0

In [20]:
df = df.drop(columns = 'overview')
df.head(3)

,title,success,success_rating,genres,cast_actor_1,cast_actor_2,cast_actor_3,total_n_cast,budget,revenue,profit_amount,vote_average,vote_count,production_companies,production_countries,popularity,runtime,profitable,release_date,release_year,imdb_id,production_company,is_genre_adventure,is_genre_horror,is_genre_drama,is_genre_scifi,is_genre_romance,is_genre_thriller,is_genre_crime,is_genre_comedy,is_genre_animation,is_genre_action,is_genre_mystery,is_genre_fantasy,is_genre_documentary
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
5,Four Rooms,0,3.493750,Crime Comedy,Tim Roth,Antonio Banderas,Jennifer Beals,24.0,4000000.0,4300000.0,300000.0,6.5,539.0,MiramaxFilms ABandApart,UnitedStatesofAmerica,9.026586,98.0,0,1995-12-09,1995,tt0113101,MiramaxFilms,0,0,0,0,0,0,1,1,0,0,0,0,0
6,Judgment Night,0,3.883820,Action Thriller Crime,Emilio Estevez,Cuba Gooding Jr.,Denis Leary,15.0,10000000.0,12136938.0,2136938.0,6.4,79.0,UniversalPictures LargoEntertainment JVCEntertainmentNetworks,Japan UnitedStatesofAmerica,5.538671,110.0,0,1993-10-15,1993,tt0107286,UniversalPictures,0,0,0,0,0,1,1,0,0,1,0,0,0
11,Star Wars,1,285.487448,Adventure Action Science Fiction,Mark Hamill,Harrison Ford,Carrie Fisher,106.0,11000000.0,775398007.0,764398007.0,8.1,6778.0,Lucasfilm TwentiethCenturyFoxFilmCorporation,UnitedStatesofAmerica,42.149697,121.0,1,1977-05-25,1977,tt0076759,Lucasfilm,1,0,0,1,0,0,0,0,0,1,0,0,0

## Explore

With the project goal in consideration, the project asks the following initial questions to guide our understanding of the features and their correlations. 

### Initial Questions:
1.  Is there a relationship between budget and revenue?


2. Correlation heatmap of all features including the target. 


3. What are the top 5 highest voted movies?


4. Top 5 highest revenue movies?


5. Which top 5 genres have the highest profit?